<div class="title-holder margin-top-36">
	<p class="header">Páginas</p>
	<p class="subtitle">Arrastrar para ordenar (los cambios se guardan automáticamente)</p>
</div>
<ul class="pages-list" id="sort-pages">
	<%=render :partial => '/admin/pages/page', :collection => @pages%>
</ul>

<%= link_to "Página",new_page_url,:class => "submit_button n_case"%>




