<li>
	<p class="title"><%= link_to cas.titol,show_cas_url(cas)%><%if cas.hidden%>
		<span class="visible">(NO VISIBLE)</span>
	<%end%></p>
	
	<%= link_to cas.preguntes.size,show_cas_url(cas, :anchor => 'preguntas'),:class => 'comments'%>
	<%if @user.status == 'admin'%>
	<%=link_to '',delete_cas_url(cas),:class => 'remove button',:confirm => "Desea eliminar el caso?"%>
	<%end%>	
</li>
