<%# render :partial => 'admin/shared/form_errors_notification', :object => @cas%>

<%=form_for @owner,:url => (params[:action] == "new" ? new_cas_url : edit_cas_url(@owner)) do |f|%>
	<div class="input_holder_header">
		<%=f.text_field :titol, :class => "header_edit",:placeholder => 'Título' %>
	</div>
	<%= f.submit "Guardar caso", :class => "submit_button general_save"%>
<%end%>
