<div class="title-holder">
	<p class="header">Casos</p>
	<!--<p class="subtitle">Puedes ver los casos y hacer preguntas como comentarios</p>-->
</div>

<ul class="cases">
	<%= render :partial => 'cas', :collection => @casos%>
</ul>
<%if @user.status == 'professor'%>
<%= link_to "Nuevo caso",new_cas_url,:class => "submit_button n_case"%>
<%end%>


