<div class="cas">
	<h1><%= @cas.titol%></h1>
	<div class="descripcio marign-bottom-30"><%=raw RDiscount.new(@cas.descripcio).to_html%></div>
	<div>
		<h2>Material</h2>
		<%if @documents.empty?%>
		<div class="margin-bottom-60">
			<p class='gray'> - No hay material en este caso.</p>
		</div>
		<%else%>
		<table class="margin-bottom-60 lined full-width">
				<tr>
					<th>Nombre</th>
					<th>Descripción</th>
					<%if session[:professor_id]%>
					<th>Acciones</th>
					<%end%>
				</tr>

			<%= render :partial => "admin/documents/document", :collection => @documents%>
		</table>
		<%end%>
	</div>
	<%= render :partial => 'admin/preguntes/index'%>
</div>



