<div class="content_top">
	<p class="header"><%= @cas.titol%></p>
	<%if session[:professor_id]%>
		<%=link_to '',edit_cas_url(@cas),:class => 'edit'%>
	<%end%>
</div>
<div class="content_main">
	<%= render :partial => "shared/content", :collection => @contents%>
</div>
<div class="content_secondary">
	<ul class="attachments">
	<%= render :partial => "admin/documents/document", :collection => @documents%>
	</ul>
	<a name="preguntas"></a>
</div>

<div class="content_comments">
	<ul class="main_questions">
		<div class="textarea_holder">
			<textarea>Enter your question here...</textarea>
			<input type="submit" class="submit_button f_right" value="ask"/>
		</div>
	</ul>
</div>


