<div class="title-holder">
		<p class="header">Restablecer contraseña</p>
</div>
<div class="clear"></div>


<div class="user">
	<p>Comprueba tu email. Sigue los pasos para restablecer tu contraseña.</p>
  <%= link_to raw('&larr; volver'),root_url%>
	
</div>