<div class="session">
<p class="text-align-center">Comprueba tu correo! <br />
	te hemos enviado instrucciones para restablecer tu contraseña<br />
	(si tu dirección de email era de un usuario)</p>
</div>