<%if content.content_type == "text"%>
	<p class="text"><%= content.text%></p>
<%elsif content.content_type == "embed"%>
	<p class="text"><%= raw RDiscount.new(content.embed_code).to_html%></p>
<%elsif content.content_type == "big-image"%>
	<%= image_tag content.image.url(:big)%>
<%end%>

