<%if content.content_type == "text"%>
	<div class="text">
		<%= raw RDiscount.new(content.text).to_html%>
	</div>
<%elsif content.content_type == "embed"%>
	<div class="embed"><%= raw RDiscount.new(content.embed_code).to_html%></div>
<%elsif content.content_type == "image"%>
	<%= image_tag content.image.url(:big)%>
<%end%>

