<div id="fade" class="pics">
	<%= image_tag('front/d1.png', :class => "slideshow")%>
	<%= image_tag('front/d2.png', :class => "slideshow")%>
	<%= image_tag('front/d3.png', :class => "slideshow")%>
	<%= image_tag('front/d4.png', :class => "slideshow")%>
</div>
