<li>
	<p class="name"><%=pregunta.user.name%> <%=pregunta.user.last_name%></p>
	<p class="question"><%= pregunta.text%></p>
</li>
	<%= render :partial => 'admin/respostes/index', :object => pregunta%>