<!DOCTYPE html>
<html>

<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body style="font-family: Helvetica, Arial, Geneva, sans-serif; font-size: 12px; line-height: 17px;">
	
	<p>Mensaje de <%= @consulta.name%></p>
	
	<p><%=@consulta.mensaje%></p>
	
	

	<p>Para contestar<br />
	<a href="mailto:<%=@consulta.email%>"><%=@consulta.email%></a></p>

</body>
</html>