<!DOCTYPE html>
<html>

<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body style="font-family: Helvetica, Arial, Geneva, sans-serif; font-size: 12px; line-height: 17px;">
	
	
	<p>Hem rebut una petició per restablir la teva clau d'administrador a <a href="http://endoreprocasos.net">endoreprocasos.net</a></p>
	
	<p>Para cambiar tu contraseña <%= link_to 'haz click aquí',new_password_url(:token => @user.token)%><br />
	<em>(por seguridad el enlace caduca a los 5 minutos)</em></p>
	
	<p>Si no has sido tu o no quieres cambiar tu contraseña no hagas nada.<br />
	Ignora este email y no haremos cambios en tu cuenta</p>

</body>
</html>