<!DOCTYPE html>
<html>

<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body style="font-family: Helvetica, Arial, Geneva, sans-serif; font-size: 12px; line-height: 17px;">
	
	
	<p>Hemos recivido una petición para reestablecer tu contraseña en <a href="http://endoreprocasos.es">endoreprocasos.es</a></p>
	
	<p>Para cambiar tu contraseña <%= link_to 'haz click aquí',edit_user_url(@user,:token => @user.token)%></p>
	
	<p>Si no quieres cambiar tu contraseña no hagas nada.<br />
	Ignora este email y no habrá cambios en tu cuenta.</p>
	
	<p>Si no has sido tu por favor envía un email a secretaría.</p>

</body>
</html>