<!DOCTYPE html>
<html>

<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body style="font-family: Helvetica, Arial, Geneva, sans-serif; font-size: 12px; line-height: 17px;">
	
	
	<p>Hem rebut una petició per restablir la teva clau d'administrador a <a href="http://endoreprocasos.net">endoreprocasos.net</a></p>
	
	<p>Per canviar la teva clau d'accés <%= link_to 'fes click sobre aquest aquí',new_password_url(:token => @user.token)%><br />
	<em>(per seguretat l'enllaç caduca als 5 minuts)</em></p>
		
	<p>Si no has estat tu o no vols canviar la clau d'accés no cal que facis res.<br />
	Ignora aquest email i no farem cap canvi a la teva compta</p>

</body>
</html>