<li class="edit">
	<%if @user.status == 'professor' && params[:action] == 'edit'%>
	<%=link_to '',delete_document_url(@owner.id,document.id),:class => 'button remove', :confirm => "Desea eliminar este material?"%>
	<%end%>
	<p class="name" title='<%=document.titol%>'><%=document.titol.truncate(25)%></p>
	<%=link_to(document.document_file_name.truncate(25),document.document.url,:class => 'file',:title => document.document_file_name)%>
</li>