<ul class="attachments">
	<%= render :partial => 'admin/documents/document', :collection => @documents%>
	<div class="input_holder_newfile">
	<%= form_for @document, :url => new_document_url, :html => {:multipart => true}  do |f|%>
		<%=f.file_field :document, :class => "file_attach"%>
		<input type="submit" class="submit_button n_content" value="material"/>
	<%end%>
	</div>
</ul>



		