/* @group General Settings 
*= require reset
*= require simple_tree
*= require_self
*/
body {
	text-align: left;
	font: 12px/17px Helvetica, Arial, Geneva, sans-serif;
	background-color: #ddd;
	color: #444444;
	overflow-y: scroll;
	-webkit-text-size-adjust: none;
}

.wrapper {
	width: 1050px;
	margin: 0 auto;
	padding: 0 30px;
}

a {
	color: #4076ef;
	text-decoration: none;
}

a:hover {
	text-decoration:underline;
}

label {
	color: #a0a0a0;
}

input.text, textarea {
	font-size: 12px;
	line-height: 17px;
	color: #888888;
	margin-right: 7px;
	margin-bottom: 5px;
}

input.text:focus, textarea:focus {
	background-color: #fffcd4;
	color: black;
}

select {
	position: relative;
	right: 1px;
}

h1, h2 {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 5px;
	line-height: 20px;
}

h3 {
	font-size: 12px;
	text-transform: none;
	line-height: 17px;
	font-weight: bold;
	margin-bottom: 5px;
}



/* @end */

/* @group Master sections */

.first-menu {
	background-color: black;
	padding-top: 60px;
	color: white;
	padding-bottom: 15px;
	font-size: 14px;
	font-weight: bold;
}

.first-menu a, .second-menu, .second-menu a {
	color: #888888;
}

.first-menu a.active, .first-menu a:hover {
	color: white;
	text-decoration: none;
}

.second-menu {
	padding-top: 10px;
	border-bottom: 1px solid silver;
	padding-bottom: 7px;
	background-color: #ddd;
	color: #444444;
}

.second-menu a.active, .second-menu a:hover {
	color: #444444;
	text-decoration: none;
}

.main {
	padding-top: 30px;
	background-color: #ededed;
	padding-bottom: 90px;
}

.footer {
	border-top: 1px solid silver;
	padding-top: 15px;
	padding-bottom: 120px;
	color: #888888;
}

.footer a {
	color: #888888;
}

.footer a:hover {
	color: #444444;
	text-decoration: none;
}

/* @end */

/* @group Reusable attributes */

/* @group grid */

.column-305 {
	width: 305px;
}

.column-320 {
	width: 320px;
}

.column-340 {
	width: 340px;
}

.column-640 {
	width: 640px;
}

.full-width {
	width: 100%;
}

/* @end */

/* @group text alignment */

.text-align-center {
	text-align: center;
}

.align-text-top {
	vertical-align: text-top;
}

/* @end */

/* @group Floats */

.clear {
	clear: both;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

/* @end */

/* @group Padding */

.padding-bottom-5 {
	padding-bottom: 5px;
}

.padding-bottom-15 {
	padding-bottom: 15px;
}

.padding-bottom-25 {
	padding-bottom: 25px;
}

.padding-top-15 {
	padding-top: 15px;
}

.padding-top-30 {
	padding-top: 30px;
}

.padding-right-15 {
	padding-right: 15px;
}

.padding-right-30 {
	padding-right: 30px;
}


/* @end */

/* @group Margins */

.margin-top-10 {
	margin-top: 10px;
}

.margin-top-15 {
	margin-top: 15px;
}

.margin-top-30 {
	margin-top: 30px;
}

.margin-top-45 {
	margin-top: 45px;
}

.margin-bottom-5 {
	margin-bottom: 5px;
}

.margin-bottom-15 {
	margin-bottom: 15px;
}

.margin-bottom-25 {
	margin-bottom: 25px;
}

.margin-bottom-30 {
	margin-bottom: 30px;
}

.margin-bottom-45 {
	margin-bottom: 45px;
}

.margin-bottom-60 {
	margin-bottom: 60px;
}

.margin-bottom-75 {
	margin-bottom: 75px;
}

.margin-bottom-90 {
	margin-bottom: 90px;
}

.margin-right-5 {
	margin-right: 5px;
}

.margin-right-7 {
	margin-right: 7px;
}

.margin-right-10 {
	margin-right: 10px;
}

.margin-right-15 {
	margin-right: 15px;
}

.margin-right-30 {
	margin-right: 30px;
}

.margin-left-7 {
	margin-left: 7px;
}

.margin-left-15 {
	margin-left: 15px;
}

.inline-spacer {
	margin-right: 7px;
	margin-left: 7px;
}

/* @end */

/* @group Text colour and effects */

.emboss {
	text-shadow: 0 1px 0 #FFFFFF;
}

.gray {
	color: #a0a0a0;
}

.red {
	color: red;
}

.green {
	color: #089912;
}

/* @end */

/* @group ul */

ul.inline li {
	display: inline;
	margin-right: 30px;
}

ul.inline li:last-of-type {
	margin-right: 0px;
}

/* @end */

/* @group Forms */

input.xs {
	width: 150px;
}

input.s {
	width: 240px;
}

input.m {
	width: 420px;
}

input.l {
	width: 510px;
}

input.xl {
	
}

input.xxl {
	width: 900px;
}

textarea {
	width: 636px;
	padding-right: 2px;
	padding-left: 2px;
}

textarea.m {
	width: 640px;
}

/* @end */

.hovering {
	opacity: 0.5;
}

.hovering:hover {
	opacity: 1;
	text-decoration: none;
}

.border {
	border: 1px solid #999999;
}

.transparent {
	opacity: 0.5;
}


/* @end */

/* @group Objects */

/* @group Pagination */

.pagination {
	text-align: center;
}

.pagination span, .pagination a {
	padding: 15px;
}

.pagination input {
	text-align: right;
}


/* @end */

.alert {
	background: url(/assets/admin/alert_16x16.png) no-repeat;
	padding-left: 24px;
}

.spinner {
	background: url(/assets/admin/spinner_24x24.gif) no-repeat;
	padding-left: 33px;
	padding-top: 2px;
	padding-bottom: 15px;
}

ul.bullets {
	list-style-type: square;
	list-style-position: inside;
}

ul.bullets li {
	margin-bottom: 5px;
}



/* @group Checklist line */

.checklist-line label {
	margin-left: 5px;
	margin-right: 20px;
}


/* @end */

/* @group Text only object list */

.text-only-objects li {
	width: 510px;
	border-bottom: 1px solid #c0c0c0;
	padding-bottom: 5px;
	padding-top: 4px;
}

.text-only-objects a {
	position: relative;
	top: 3px;
	margin-left: 5px;
	margin-right: 5px;
}

.text-only-objects a:last-of-type {
	margin-right: 15px;
}

/* @end */

.named-anchor {
	display: block;
	padding-top: 15px;
}

.home {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(/assets/admin/home_16x16.png) no-repeat;
	vertical-align: top;
	position: relative;
	bottom: 2px;
}

.homepage {
	height: 16px;
	background: url(/assets/admin/home_16x16.png) no-repeat;
	position: relative;
	padding-left: 24px;
	padding-top: 1px;
}

/* @group Edit, delete buttons */

a.delete, a.edit, a.cancel {
	display: inline-block;
	width: 16px;
	height: 16px;
	opacity: 0.3;
}

a.delete:hover, a.edit:hover, a.cancel:hover {
	opacity: 1;
}

a.edit {
	background: url(/assets/admin/edit_16x16.png) no-repeat;
}

a.delete {
	background: url(/assets/admin/delete_16x16.png) no-repeat;
}

a.cancel {
	background: url(/assets/admin/cancel_gray_16x16.png) no-repeat;
}



/* @end */

/* @group Form errors */

.field_with_errors {
	display: inline;
}

.field_with_errors input, .field_with_errors textarea {
	background-color: #fed4d4;
	color: #444444;
}

.validation-errors {
	color: red;
	border: 1px solid red;
	padding: 15px 15px 13px;
	background-color: #fed4d4;
	margin-bottom: 30px;
	width: 600px;
}

.validation-errors ul {
	margin-top: 15px;
}

.validation-errors ul li {
	list-style-type: square;
	list-style-position: inside;
	margin-top: 5px;
}

/* @end */

/* @group Confirmations messages */

.confirmation {
	color: green;
	border: 1px solid green;
	padding: 15px 15px 13px;
	background-color: #d3fddc;
	margin-bottom: 30px;
	width: 600px;
}

/* @end */

/* @group Contents */

/* @group tool styles */

.content-box {
	padding-top: 11px;
}

.content-box:hover {
	background-color: #e5e5e5;
}

.tools {
	position: absolute;
}

.tools a {
	margin-right: 10px;
}

.tools a:first-of-type {
	margin-left: 10px;
}

.content {
	width: 640px;
	margin: 0 auto;
	min-height: 32px;
}

.content h1 {
	color: red;
}

.content h1:after {
	content: " (no usar H1 en los contenidos!!)"
}

/* @end */

/* @group content styles */

.contents img {
	display: block;
}

.contents {
	text-align: left;
	font: 12px/22px Helvetica, Arial, "Helvetica Neue", Geneva, sans-serif;
	color: #999;
}

.contents a {
	color: #666;
	text-decoration: underline;
}

.contents h2, .contents h2 a {
	font-size: 15px;
	line-height: 22px;
	margin-bottom: 15px;
	color: black;
	font-weight: bold;
	text-decoration: none;
}

.contents h3, .contents h3 a {
	font-size: 15px;
	line-height: 22px;
	margin-bottom: 15px;
	font-weight: bold;
	color: #666;
	text-decoration: none;
}

/* @group Slideshow */

.slideshow, .slideshow img {
	width: 640px;
	height: 390px;
}

.slideshow_nav {
	z-index: 10000;
	text-align: center;
	width: 640px;
	top: 364px;
	position: relative;
	line-height: 0;
	height: 0;
}

.slideshow_nav a {
	margin-right: 7px;
	display: inline-block;
	width: 10px;
	height: 11px;
	background: url(/assets/front/slideshow_page.png) no-repeat;
	text-indent: -9999px;
}

.slideshow_nav a:last-of-type {
	margin-right: 0;
}

.slideshow_nav a.activeSlide {
	background: url(/assets/front/slideshow_page_active.png) no-repeat;
}

.slideshow img:nth-child(n+2) {
	display: none;
}


/* @end */

.contents p, .contents ul, .contents ol {
	margin-bottom: 30px;
}

.contents ol li {
	list-style-type: decimal;
	list-style-position: inside;
}

.contents ul li {
	list-style-type: square;
	list-style-position: inside;
}

.contents strong {
	color: black;
}

.contents em {
	font-style: italic;
}

.contents h2, .contents h3 {
	margin-top: 45px;
}

.column-305 h2, .column-305 h3 {
	margin-top: 0px;
}

.contents a.download {
	display: block;
	background: url(/assets/front/download_icon_25x31.png) no-repeat;
	padding-left: 38px;
	padding-top: 13px;
	background-size: 25px 31px;
}


/* @group Summaries */

.contents .column-340 h2 {
	margin-top: 0;
}

.contents .column-340 p {
	margin-bottom: 15px;
}



/* @end */



/* @group form */

.field_with_errors {
	display: inline;
}

.contents .contact input.text {
	width: 290px;
	font-size: 12px;
	color: #635e57;
	padding-bottom: 3px;
	padding-top: 3px;
}

.contents .contact textarea {
	width: 410px;
	vertical-align: top;
	font-size: 12px;
	padding: 3px;
	color: #635e57;
}

.contents .contact {
	border-left: 2px solid #ffbb3c;
	padding-left: 26px;
}

.contents .contact ol li {
	list-style-position: inside;
	list-style-type: square;
}

/* @end */



/* @end */






/* @end */

/* @group Sort slideshow/gallery */

#sort-slideshow-images img, #sort-image-group-images img, #sort-horizontal-image-group-images img {
	vertical-align: top;
}

#sort-slideshow-images li, #sort-image-group-images li, #sort-horizontal-image-group-images li {
	margin-bottom: 5px;
}


/* @end */

/* @group Placeholders */

.page-thumb-placeholder {
	width: 270px;
	height: 180px;
	background-color: #ddd;
}

.big-image-placeholder {
	width: 640px;
	height: 390px;
	background-color: #ddd;
}

.small-image-placeholder {
	width: 320px;
	height: 300px;
	background-color: #ddd;
}

/* @end */

/* @group Lined table */

.lined th, .lined td {
	border-bottom: 1px solid #c0c0c0;
	padding: 5px 20px 3px;
}

.lined tr:hover {
	background-color: white;
}


/* @end */

/* @group Simple Tree */

.simpleTree a, #drag_container a {
	color: #444444;
}

.simpleTree a.gray  {
	color: #a0a0a0;
}

.simpleTree a.delete {
	vertical-align: top;
	position: relative;
	bottom: 1px;
}


/* @end */



/* @end */

