/*
*= require reset
*= require jquery.fancybox
*= require_self
*/ 

	
/**********************************
 * Basic 
 **********************************/

body {
	min-width: 980px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	letter-spacing: 0.1em;
	font-size: 12px;
	background-color: #FFF;
	
	line-height: 22px;
	padding-top:46px; /*may bother in front*/	
	}

.clear {
	width: 0;
	height: 0;
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
}

/**********************************
 * Wrapper elements 
 **********************************/
 
/* Main container */
div.container_main {
	margin-left: auto;
	margin-right: auto;
	width: 980px;
}


/* Site content container with border */
div.site_content {
	width: 888px;
	height: auto;
	margin-top: 88px;
	padding: 0 46px;
}

/**********************************
 * Header
 **********************************/

div.top_head {
	width: 100%;
	height: 86px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fff;
	/*border-bottom: 2px solid rgba(40, 40, 40, 0.2);	*/
	z-index: 2000;
	}
	
div.top_head div.header {
	width: 888px;
	height: 86px;
	margin: 0 auto;
	}

div.top_head div.header a.submit_button {
	width: auto;
	padding: 0 10px 0 10px;
	float: right;

}

div.title-holder {
	float: left;
	height: 92px;
	/*margin-top: 46px;*/	
	margin-bottom: 20px;
	width: 888px;
}



div.title-holder p.header {
	float: left;
	margin-left: 6px;
	margin-top: 34px;
	margin-bottom: 10px;
	color: #333;
	font-size: 22px;	
}

div.title-holder p.subtitle{
	clear: both;
	margin-left: 6px;
	color: #333;
}


	
	
/**********************************
 * Top Nav
 **********************************/
 
ul.top_nav {
	font-weight: 800;
	float: left;
	height: 34px;
	width: auto;
	margin-top: 52px;
	
	
} 

ul.top_nav li {
	float: left;
	height: 34px;
	min-width: 60px;
	width: auto;
	margin-right: 1px;
	text-align: center;
	line-height: 34px;
	text-transform: uppercase;
	
} 

ul.top_nav li a {
	/*color: #fff; */
	color:#000;
	display: block;
	line-height: 34px;
	height: 34px;
	min-width: 60px;
	width: auto;
	padding: 0 14px;
	/*background-color: rgba(255, 255, 255, 0.1);*/
	font-size: 11px;
}

ul.top_nav li:hover {
	/*background-color: rgba(255, 255, 255, 0.4);*/
	border-bottom: 2px solid #009EBC;
	cursor: pointer;
}

ul.top_nav a.active {
	/*background-color: rgba(255, 255, 255, 1);*/
	border-bottom: 2px solid #009EBC;
	cursor: pointer;
	display: block;
	color: #009EBC;
	/*border-bottom: 0px solid #fff;*/
	line-height: 34px;
	height: 34px;
	min-width: 60px;
	width: auto;
	padding: 0 14px;
}  

/**********************************
 * Alumnes
 **********************************/

div.alumni{
	float: left;
	width: 270px;
	height: 270px;
	margin-left: 10px;
	margin-bottom: 10px;
	background-color: #f2f2f2;
}

div.alumni .text{
	/*color: rgba(255, 255, 255, 0.9);*/
	margin-left: 10px;
	margin-top: 5px;
	font-size: 11px;
}

div.alumni .name{
	float: left;
	font-weight: bold;
	min-width: 100px;
	/*color: rgba(255, 255, 255, 0.9);*/
	margin-left: 10px;
	margin-top: 5px;
	font-size: 11px;
}

div.alumni .user-pic{
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	height: 100px;
	width: 100px;	
	border: 2px solid rgba(200, 200, 200, 0.4);
	background-color: rgba(253, 253, 253, 1);
	border-radius: 1px;
}


/**********************************
 * Home Page
 **********************************/
div.login_zone{
	float: right;
	height: 320px;
	width: 210px;
	padding: 0px 0 0 0;
	margin-top: -46px;
	background-color: #009EBC;
	
}

div.login_zone img{
	float:left;
	margin: 30px 30px;
	
}

div.logo-empty{
	margin: 90px;	
}


div.login_zone a{
	float: left;
	font-size: 9px;
	margin-left: 30px;
}

div.login_zone p{
	font-size: 9px;
	margin-left: 30px;
	margin-bottom: 10px;
	padding-right:30px;
	line-height: 12px;
}

div.logout_zone{
	float: right;
	height: 28px;
	width: 300px;
	margin-top: 52px;
	
}

div.logout_zone p.username{
	float: right;
	color: #fff;
	height: 28px;
	line-height: 28px;
	font-weight: 700;
	cursor: default;
}

div.logout_zone a.username {
	float: right;
	color: #fff; 
	display: block;
	line-height: 34px;
	height: 34px;
	min-width: 60px;
	width: auto;
	padding: 0 14px;
	background-color: rgba(255, 255, 255, 0.1);
}

div.logout_zone a.active {
	background-color: rgba(255, 255, 255, 1);
	cursor: pointer;
	display: block;
	color: #009EBC;
	border-bottom: 0px solid #fff;
	line-height: 34px;
	height: 34px;
	min-width: 60px;
	width: auto;
	padding: 0 14px;
}

div.logout_zone .submit_button{
	margin-left: 1px;
	margin-top: 3px;
}

div.intro_zone{
	margin-top: -46px;
	float: left;
	height: 320px;
	width: 678px;
	background-color: #003A54;
}

p.org_header{
	float: left;
	margin-left: 46px;
	margin-top: 46px;
	width: 400px;
	color: rgba(255, 255, 255, 0.9);

	
		
	font-size: 28px;
	line-height: 34px;	
}

p.org_when{
	float: left;
	margin-left: 46px;
	margin-top: 30px;
	color: #fff;
	font-size: 14px;	
}

p.ie-alert{
	width: 888px;
	margin: 10px 0;
	text-align: center;
	color: red;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 40000;
}




div.content_box {
	width: 888px;
	height: auto;
	min-height:40px;
	float: left;
	padding-top: 46px
}

div.content_box p.header {
	margin-left: 46px;
	color: #333;
	font-size: 22px;	
}

div.content_box h1 {
	margin-left: 46px;
	margin-bottom: 15px;
	color: #333;
	font-size: 22px;
}

div.content_box h2 {
	margin-left: 46px;
	margin-bottom: 15px;
	color: #333;
	font-size: 16px;
}

div.content_box ul {
	margin: 30px 0 30px 75px;
	color: #333;
	font-size: 12px;
	list-style-type: disc;
}


div.content_box p {
	text-align: justify;
    margin-bottom: 15px;
	padding: 0 45px 0 45px;
	color: #333;
	font-size: 12px;
}

div.content_box .embed {
	margin: 0px 124px 30px 124px;	
	padding: 0;
}

div.content_box img {
	height: auto;
	margin: 0 124px;
}

/**********************************
* Teachers
***********************************/
.teacher_header{

	width: 250px;
	height: auto;

}

	.name{
		width: auto;
		margin:10px auto;
		display: table;
	}
	
	.wide{
		clear: left;
		margin: 0 auto;
	}
	

	
	.list{
		float:left;
		margin-left: 30px;
		margin-bottom: 60px;
	}
	
.circular {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	display: table;
	margin:40px auto;
	}

/**********************************
 * Users
 **********************************/	

ul.users-list {
	width: 888px;
	margin: 10px 0;
	height: auto;
	float: left;
}

ul.users-list li {
	width: 888px;
	height: 40px;
	background-color: #f2f2f2;
	margin-bottom: 2px;
	float: left;
}

ul.users-list li:hover {
	background-color: #f4f4f4;
	/*cursor: pointer;*/
}

ul.users-list p {
	float: left;
	height: 40px;
	border-right: 1px solid #f9f9f9;
	padding: 0 8px;
	line-height: 40px;
}

ul.users-list p.title {
	width: 180px;
	font-weight: 700;
	padding-left: 12px;
}


div.users {
	float: left;
	height: 92px;
	margin-top: 46px;
	margin-bottom: 20px;
	width: 888px;
}

div.users label {
	width: auto;
}



div.users p.header {
	float: left;
	margin-left: 6px;
	margin-top: 34px;
	margin-bottom: 10px;
	color: #333;
	font-size: 22px;	
}

div.users p.subtitle{
	clear: both;
	margin-left: 6px;
	color: #333;
}

.margin-top-36 {
	margin-top: 36px;
}

.margin-top-15 {
	margin-top: 15px;
}

a.n_user {
	float: left;
	margin-top: 20px;
	margin-left: 0px;
	background-image: url(/assets/admin/add.png);
	background-repeat: no-repeat;
	background-position: 4px 0;
}

/**********************************
 * Contact Form
 **********************************/

div.content_box form{
	padding-top: 20px;
	margin-left: 45px;
	width:635px;
	/*background-color: #F2F2F2;*/
}

div.content_box form p.green{
	color: #09B500;
}

div.content_box form p.red{
	color: #FF0000;
}

div.content_box form textarea{
	border: 2px solid rgba(200, 200, 200, 0.4);	
}

div.content_box form .general_save{
	float:left;
	margin-top:90px;
	margin-left: 46px;
	margin-bottom: 30px;
}

/**********************************
 * Settings Form
 **********************************/

div.settings_input_holder_header {
	margin: 28px 0 60px 46px;
	width: 569px;
	height: 26px;
	}

div.settings_input_holder_textarea{
	margin: 0 0 -15px 46px;
	width: 569px;
	height: auto;
}

div.settings_input_holder_medium {
	margin: 0 0 60px 46px;
	width: 350px;
	height: 26px;
	}
	
input.input_holder_logos {

	margin: 15px 0 46px 46px;
	background-color: rgba(255, 255, 255, 0);
	border: none;
	}

div.logos_placeholder {
	margin-left: 46px;
	height:70px;
	width: 120px;
	background-color: rgba(200, 200, 200, 0.4);
	border: 1px solid rgba(200, 200, 200, 0.6);
}

img.logos {
	float:left;
	margin-left: 46px;
	border: 1px solid rgba(200, 200, 200, 0.6);
}
/**********************************
 * Users Form
 **********************************/

form.user {
	float: left;
	height: auto;
	margin-top: 2px;
	width: 888px;
	background-color: #F2F2F2;
}

form.user .text{
	margin-left: 46px;
	margin-top: 25px;
	margin-bottom: 36px;
}

form.user .submit_button{
	margin-left: 46px;
	margin-right: 15px;
	margin-bottom: 36px;
}

.radio {
	margin-top: 36px;
	margin-left: 46px;
}

input[type=radio] {
	width:auto;
}

textarea.settings {
	max-width: 561px;
	border: 2px solid rgba(200, 200, 200, 0.6);
	border-radius: 1px;
	padding: 8px 8px;
	margin: 0 30px 46px 0;
	}


		
/**********************************
 * Pages Content
 **********************************/
div.content_top.page{
	height: auto;
}
/*
.standard{
	height: 92px;
}*/

div.small-text p{
	float: left;
	width: 490px;
	padding-left: 20px;
	color: #333;
	text-align: justify;
}

div.small-text img{
	float: left;
	margin-left: 45px;
	margin-right: 20px;
}



div.content_top{
	float: left;
/*	margin-top: 46px;*/
	height: 92px;
	width: 888px;
	background-color: #F2F2F2;	
}

div.content_top.edit_from{
	float: left;
/*	margin-top: 46px;*/
	height: 120px;
	width: 888px;
	background-color: #F2F2F2;	
}

div.content_top p.header {
	float: left;
	margin-left: 46px;
	margin-top: 34px;
	color: #333;
	font-size: 22px;	
}


ul.pages-list {
	width: 888px;
	margin: 2px 0;
	height: auto;
	float: left;
}

ul.pages-list li {
	width: 888px;
	height: 40px;
	background-color: #f2f2f2;
	margin-bottom: 2px;
	float: left;
}

ul.pages-list li:hover {
	background-color: #f4f4f4;
	/*cursor: pointer;*/
}

ul.pages-list p {
	float: left;
	height: 40px;
	border-right: 1px solid #f9f9f9;
	padding: 0 8px;
	line-height: 40px;
}

ul.pages-list p.title {
	width: 180px;
	font-weight: 700;
}

ul.pages-list li:last-child {
	margin-bottom: 60px;
}

/*
div.pages {
	float: left;
	height: 40px;
	margin-top: 46px;
	width: 888px;
	background-color: #F2F2F2;
}

div.pages p.header {
	height: 40px;
	padding: 0 8px;
	font-weight: 700;
	line-height: 40px;	
}

*/

ul.pages a.remove {
	background-image: url(/assets/admin/remove.png);
}

/**********************************
 * Top Save-Edit
 **********************************/
 
div.content_top a.edit {
	float: right;
	height: 30px;
	width: 30px;
	margin-right: 31px;
	margin-top: 31px;
	background-image: url(/assets/admin/pencil.png);	
	background-color: rgba(255, 255, 255, 0.3);
}

div.content_top a.edit:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.8);
}


div.content_main{
	float: left;
	height: auto;
	width: 669px;
	border-right: 1px solid #F2F2F2;	
	padding: 46px 0;	
}

div.content_main .text h1 {
	margin: 0 0 15px 46px;
	color: #333;
	font-size: 22px;
}

div.content_main .text h2 {
	margin: 0 0 30px 46px;
	color: #333;
}

div.content_main .text ul {
	margin: 0 0 30px 75px;
	color: #333;
	font-size: 12px;
	list-style-type: disc;
}

div.content_main .text ul li p{
	margin-left: 0px;
}


div.content_main .embed {
	margin: 45px 124px 45px 45px;	
}


div.content_main .text p{
	width: 577px;
	margin-left: 46px;
	margin-bottom: 30px;
	color: #333;
	text-align: justify;
	font-size: 12px;
}


div.content_main div.content-text {
	float: left;
	width: 577px;
	margin-left: 46px;
	margin-bottom: 30px;
	padding-top: 30px;
	color: #333;
	text-align: justify;
	font-size: 12px;	
}

div.content_main img {
	float: left;
	/*width: 265px;*/
	margin-left: 47px;
	margin-bottom: 30px;
	/*padding: 46px 0;*/
}



div.content_secondary{
	float: left;
	height: auto;
	width: 218px;
	padding: 46px 0;	
}


div.edit_mode{
	padding: 4px 0;		
}


div.add_content{
	float: left;
	height: auto;
	width: 669px;	
	margin-top: 46px;
	background-color: #f1f1f1;
	padding-bottom: 46px;
}

div.add_content div{
	padding: 0;
	height: auto;
	margin: 1px 0;
}

div.add_content .title{
	float: left;
	width: 500px;
	margin-left: 46px;
	margin-top: 46px;
	color: #333;
	font-size: 22px;

}

div.add_content .subtitle{
	float:left;
	margin-left: 46px;
	margin-top: 30px;
	color: #333;
}

ul.add_content_menu{
	margin-left: 46px;
	margin-top: 46px;
	background-color: #80cfde;
	margin-bottom: 0;
}

/**********************************
 * Attachments
 **********************************/

ul.attachments{
	float: left;
	height: auto;
	width: 192px;
	margin-left: 4px;
}

ul.attachments li{
	float: left;
	height: auto;
	width: 214px;
	margin-bottom: 4px;
}

ul.attachments li.edit{
	background-color: rgba(200, 200, 200, 0.1);
}

ul.attachments li p.name{
	float: left;
	height: 20px;
	margin: 14px 0 0 14px;
	line-height: 20px;
	color: #333;
	width: 152px;
	font-size: 10px;
}

ul.attachments li a.file{
	float: left;
	height: 20px;
	margin-left: 14px;
	margin-bottom: 14px;
	margin-top: 10px;
	line-height: 20px;
	color: #003A54;
	width: 188px;
	font-size: 10px;
	background-image: url(/assets/admin/doc_icon.png);
	background-repeat: no-repeat;
	background-position: right center;
	opacity: 0.9;
}

ul.attachments li a.file:hover{
	text-decoration: underline;
	opacity: 1;
	cursor: pointer;
}

/**********************************
 * Comments
 **********************************/
 
div.content_comments{
	float: left;
	height: auto;
	margin-top: 0;
	padding-bottom: 46px;
	width: 888px;
	background-color: #E6F2F2;	
	background-image: url(/assets/admin/gradient.png);
	background-repeat: repeat-x;
	background-position: top;
}


div.content_comments p.name{
	/*float: left;*/
	color: #003A54;
	font-weight: 700;
	font-size: 12px;
	margin-left: 20px;
	margin-top: 20px;
	clear: both;
}

div.content_comments p.question{
/*	float: left;*/
	padding: 20px;
	padding-top: 10px;
	height: auto;
}

ul.main_questions {
	width: 796px;
	margin-left: 46px;
	margin-top: 46px;
	float: left;
	height: auto;
}

ul.main_questions li{
	width: 796px;
	min-height: 80px;
	height: auto;
	float: left;
	background-color: rgba(255, 255, 255, 1);
	margin-bottom: 2px;
	border-top: 1px solid #999;
}

ul.sub_questions {
	width: 623px;
	float: left;
	margin-left: 46px;
	height: auto;
	margin-bottom: 4px;
}

ul.sub_questions li{
	width: 750px;
	min-height: 80px;
	height: auto;
	float: left;
	background-color: rgba(255, 255, 255, 0.8);
	margin-bottom: 2px;
	border: 0;
}

/**********************************
 * Notifications
 **********************************/

.notification {
	border: 2px solid;
	margin:0 4px 4px 4px;
	height: auto;
}

.error{
	background-color: rgba(255, 0, 0, 0.3);
	border-color: rgba(255, 0, 0, 1);
	color: #FF0000;
}

div.login_zone p.red {
	font-size: 11px;
 	color: #FF0000;
}

.success{
	background-color: rgba(9, 181, 0, 0.3);
	border-color: rgba(9, 181, 0, 1);
	color: #09B500;
}

.notification .margins{
	margin-left: 46px;
	margin-bottom: 30px;
	padding-top: 30px;
	text-align: justify;
	font-size: 12px;
}


.notification ul li{
	margin-left: 15px;
}


/**********************************
 * Cases
 **********************************/
ul.cases {
	width: 888px;
	margin-bottom: 46px;
	height: auto;
	float: left;
}

ul.cases li {
	width: 888px;
	height: 40px;
	background-color: #f2f2f2;
	margin-bottom: 2px;
	float: left;
}

ul.cases li:hover {
	background-color: #f4f4f4;
	/*cursor: pointer;*/
}

ul.cases p {
	float: left;
	height: 40px;
	border-right: 1px solid #f9f9f9;
	padding: 0 8px;
	line-height: 40px;
}

ul.cases .visible {
	float: right;
	height: 40px;
	border-left: 1px solid #f9f9f9;
	padding: 0 8px;
	line-height: 40px;
}

ul.cases p.title {
	width: 580px;
	font-weight: 700;
}

ul.cases p.description{
	width: 400px;
}

ul.cases a.comments {
	background-image: url(/assets/admin/comment.png);
	padding: 0 12px 0 36px;
	background-repeat: no-repeat;
	background-position: left center;
	text-align: center;
	line-height: 30px;
	float: left;
	margin-left: 5px;
}

ul.cases a.remove {
	background-image: url(/assets/admin/remove.png);
}


/**********************************
 * Anchor Button
 **********************************/

a.button {
	float: right;
	height: 30px;
	width: 30px;
	margin-top: 5px;
	margin-right: 5px;
	background-color: rgba(255, 255, 255, 0.3);
}

a.button:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.7);
}


a.edit {
	background-image: url(/assets/admin/pencil.png);
	background-color: rgba(100, 100, 100, 0.05);
}
a.edit:hover {
	background-color: rgba(100, 100, 100, 0.1);
}

a.save {
	background-color: yellow;
}

a.remove {
	background-image: url(/assets/admin/remove.png);
	background-color: rgba(100, 100, 100, 0.05);
}
a.remove:hover {
	background-color: rgba(100, 100, 100, 0.1);
}

/**********************************
 * Footer
 **********************************/
/*div.footer {
  float: left;
  background-color: rgba(200, 200, 200, 0.1);
  width: 888px;
  height: auto;
  padding: 30px 46px;
  margin-top: 46px;
  margin-bottom: 100px;
  }

div.footer ul {
  min-height: 100px;
  color: #333;
  text-align: justify;
  font-size: 12px;

}

div.footer ul li{
  width: 295px;
   float:left;
}

div.footer ul li ul li{
  list-style-type: disc;
  list-style-position: inside;
}

div.footer img{
  margin:0px auto;
}*/

/**********************************
 * Footer
 **********************************/
/*div.footer {
  float: left;
  background-color: rgba(200, 200, 200, 0.1);
  width: 888px;
  height: auto;
  padding: 30px 46px;
  margin-top: 46px;
  margin-bottom: 100px;
  }
*/
  div.footer {
    background: #535353;
    margin-top: 45px;
    padding: 26px 0 23px;
    color: #e9e9e9;
    
  }
  /*.copyright {
    float:left;
    text-transform:uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight:300;
    color:#e9e9e9;
  }*/
  .copyright a {
  	color:#df4d58;
  }
  .copyright a:hover {text-decoration:none;color:#fff;
  }
  
div.footer > ul {
	min-height: 100px;
	text-align: justify;
  width:900px;
	font-size: 12px;
	margin-left: auto;
	margin-right: auto;

}
/**********************************
 * Inputs
 **********************************/	

/* Inputs*/	

div.checkboxs_holder {
	float:left;
	margin: 10px 0 28px 46px;
	}


div.checkboxs_holder label{
	float: left;
	padding-bottom: 2px;
	}

div.checkboxs_holder input{
	float: left;
	width: auto;
	height: auto;
	margin-right: 10px;
	}

div.input_holder {
	margin: 0 0 12px 28px;
	width: 140px;
	height: 26px;
	float: left;
	}
	
div.input_holder_header {
	margin: 28px 0 12px 46px;
	width: 569px;
	height: 26px;
	float: left;
	}

div.input_holder_textarea{
	margin: 28px 0 12px 46px;
	width: 569px;
	height: auto;
	float: left;
}

div.input_holder_medium {
	margin: 28px 0 12px 46px;
	width: 350px;
	height: 26px;
	float: left;
	}
	
div.input_holder_medium_user {
	margin: 28px 0 12px 46px;
	width: 446px;
	height: 26px;
	float: left;
	}
	

div.input_holder_long {
	margin: 28px 0 12px 46px;
	width: 596px;
	height: 26px;
	float: left;
	}
		
div.input_holder_short {
	margin: 28px 0 12px 46px;
	width: 200px;
	height: 26px;
	float: left;
	}	

div.input_holder_short_right{
	margin: 28px 0 12px 46px;
	width: 200px;
	height: 26px;
	float: right;
}

div.input_holder_rightside {
	margin: 20px 0 20px 20px;
	width: 165px;
	height: 36px;
	float: left;
	}
		
form.new_file_form {
	border-top: 1px solid #f1f1f1;
	width: 218px;
	margin-left: 0px;
	float:left;
}		
		
div.input_holder_newfile {
	margin: 0;
	width: 218px;
	padding: 0;
	float: left;	
	}	

input.input_holder_newimage {
	max-width: 561px;
	padding: 0px 8px;
	margin: 46px 0 46px 46px;
	background-color: rgba(255, 255, 255, 0);

	border: none;
	float: left;
	border-top: 1px solid #f1f1f1;
	}	

input {	
	width: 100%;
	height: 18px;	
	border: 1px solid rgba(255, 255, 255, 0.4);
	background-color: rgba(253, 253, 253, 1);
	border-radius: 1px;	
	outline: none;
	line-height: 16px;
	font-size: 12px;
	color: #d1d1d1;	
	padding: 2px 4px;
	}

input.header_edit {	
	height: 28px;	
	border: 2px solid rgba(200, 200, 200, 0.4);
	background-color: rgba(253, 253, 253, 1);
	border-radius: 1px;	
	outline: none;
	font-family: lucida grande;
	line-height: 16px;
	font-size: 16px;
	color: #333;	
	padding: 2px 4px;
	}
	
input.file_attach {		
	margin-left: 24px;
	margin-bottom: 24px;
	width: 170px;
	height: 20px;
	padding: 0;
	float: left;
	background-color: none;
	border: none;
	}
	

input.thumb_attach {		
	margin-left: 24px;
	margin-top: 130px;
	width: 270px;
	height: 20px;
	padding: 0;
	float: left;
	color: black;
	background-color: #F2F2F2;
	border: none;
	}
		
input.file_attach:hover {		
	background-color: rgba(255, 255, 255, 0);
	border: none;
	}


input:hover	{	
	/*background-color: rgba(255, 255, 255, 1);*/
	}	

input:focus	{	
	background-color: #ffffff;
	box-shadow: inset 1px 1px 1px rgba(100, 100, 100, 0.1);
	color: #333;	
	}		
	

div.logout_zone input.submit_button {	
	width: 80px;
	height: 26px;
	margin-left: 14px;	
	border: 1px solid rgba(255, 255, 255, 0.4);
	background-color: rgba(0, 58, 84, 0.9);
	border-radius: 1px;	
	outline: none;
	font-family: lucida grande;
	text-transform: uppercase;
	line-height: 16px;
	font-size: 12px;
	color: #fff;	
	float: right;
	}

input.submit_button {	
	width: 152px;
	height: 26px;	
	border: 1px solid rgba(255, 255, 255, 0.4);
	background-color: rgba(0, 58, 84, 0.9);
	border-radius: 1px;	
	outline: none;
	font-family: lucida grande;
	text-transform: uppercase;
	line-height: 16px;
	font-size: 12px;
	color: #fff;	
	float: left;
	margin-left: 27px;
	}
	
	
input.submit_button:hover {		
	border: 1px solid rgba(255, 255, 255, 0.5);
	background-color: rgba(0, 58, 84, 1);
	cursor: pointer;
	}	

input.f_right{
	float: right;
	margin-top: 10px;
	margin-right: -20px;
	margin-left: 0;
}

input.general_save{
	float: right;
	margin-top: 32px;
	margin-right: 46px;
	margin-left: 0;
}

input.f_mini{
	float: right;
	margin-top: 10px;
	margin-right: -20px;
	margin-left: 0;
	width: 60px;
}

input.n_case {
	float: left;
	margin-top: -10px;
	margin-left: 0;
	background-image: url(/assets/admin/add.png);
	background-repeat: no-repeat;
	background-position: 4px 0;
}


input.n_content {
	float: left;
	margin-top: 0;
	margin-left: 46px;
	background-image: url(/assets/admin/add.png);
	background-repeat: no-repeat;
	background-position: 4px 0;
}

input.n_file {
	float: left;
	margin-top: 0;
	margin-left: 22px;
	background-image: url(/assets/admin/add.png);
	background-repeat: no-repeat;
	background-position: 4px 0;
}

div.textarea_holder{
	width: 778px;
	height: auto;
	float: left;
	margin-top: 46px;
}

div.edit_main_zone{
	width: 665px;
	height: auto;
	min-height:40px;
	float: left;
	margin-left: 0px;
	margin-bottom: 4px;
	background-color: rgba(200, 200, 200, 0.1);
}

div.edit_main_zone div.small-text p{
	width: 250px;
}

div.edit_main_zone:hover {
	background-color: rgba(200, 200, 200, 0.15);
}

select {
	background: url(/assets/admin/arrow-select.png) no-repeat 165px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance:none; 
	height: 36px;
	border: 2px solid rgba(200, 200, 200, 0.4);
	background-color: rgba(253, 253, 253, 1);
	border-radius: 1px;
	outline: none;
	font-family: lucida grande;
	line-height: 16px;
	font-size: 16px;
	color: #333;
	padding: 2px 4px;
	width:100%;
}

select:hover{
	cursor: pointer;
}

textarea {
	outline: none;
	width: 100%;
	min-height: 80px;
	height: auto;
	}

textarea.edit_main {
	max-width: 561px;
	border: 2px solid rgba(200, 200, 200, 0.6);
	border-radius: 1px;
	padding: 8px 8px;
	margin: 46px 0 46px 46px;
	}	
	
div.textarea_holder_mini{
	width: 730px;
	height: auto;
	float: left;
	margin-top: 4px;
}

textarea.mini {
	outline: none;
	min-width: 380px;
	width: 660px;
	max-width: 660px;
	max-height: 100px;
	margin-top: 8px;
	height: 14px;
	border: 2px solid rgba(200, 200, 200, 0.6);
	border-radius: 1px;
	}		


textarea:focus {
	border: 2px solid rgba(200, 200, 200, 1);
	}		

span.submit {
	height: 24px;
	width: 100px;
	line-height: 24px;
	margin: 30px 14px 0 0;
	float: right;
	
	font-family: lucida grande;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	background-color: rgba(255, 100, 75, 0.8); 
	color: white;
	}

span.submit:hover {
	background-color: rgba(255, 100, 75, 1); 
	cursor: pointer;
	}									

/**********************************
 * Anchors Buttons
 **********************************/

a:link, a:visited, a:active {
	text-decoration:none;
	color: #333;
 }

a.submit_button {	
	width: 152px;
	height: 26px;	
	border: 1px solid rgba(255, 255, 255, 0.4);
	background-color: rgba(0, 58, 84, 0.9);
	border-radius: 1px;	
	outline: none;
	font-family: lucida grande;
	text-transform: uppercase;
	line-height: 26px;
	font-size: 12px;
	color: #fff;	
	float: left;
	text-align:center;
	margin-left: 27px;
}


a.submit_button:hover {		
	border: 1px solid rgba(255, 255, 255, 0.5);
	background-color: rgba(0, 58, 84, 1);
/*	cursor: pointer;*/
}

a.n_case {
	float: left;
	margin-top: -12px;
	margin-left: 0;
	background-image: url(/assets/admin/add.png);
	background-repeat: no-repeat;
	background-position: 4px 1px;
}

.teacher a{
	color: #009EBC;
}

span.moveleft {
	margin-left: -27px;
	float: left;
}								


.thumbnail{
	float:left;
	margin-top: 45px;
	margin-left: 45px;
	height: 100px;
	width: 100px;	
	border: 2px solid rgba(200, 200, 200, 0.4);
	background-color: rgba(253, 253, 253, 1);
	border-radius: 1px;	
}

.placeholder{
	float:left;
	margin-top:44px;
	margin-left: 45px;
}

.float-left{
	float:left;
	width:auto;
}

.left{
	float:left;
}

	
