/*
*= require reset
*= require_self
*/

	
/**********************************
 * Basic 
 **********************************/

body {
	min-width: 980px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	letter-spacing: 0.1em;
	font-size: 12px;
	background-color: #FFF;
	line-height: 22px;
	}

.clear {
	width: 0;
	height: 0;
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
}

/**********************************
 * Wrapper elements 
 **********************************/
 
/* Main container */
div.container_main {
	margin-left: auto;
	margin-right: auto;
	width: 980px;
}


/* Site content container with border */
div.site_content {
	width: 888px;
	height: auto;
	margin-top: 88px;
	padding: 0 46px;
}

/**********************************
 * Header
 **********************************/

div.top_head {
	width: 100%;
	height: 86px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #80cfde;
	border-bottom: 2px solid rgba(40, 40, 40, 0.2);	
	z-index: 2000;
	}
	
div.top_head div.header {
	width: 888px;
	height: 86px;
	margin: 0 auto;
	}
	
	
	
/**********************************
 * Top Nav
 **********************************/
 
ul.top_nav {
	float: left;
	height: 34px;
	width: auto;
	margin-top: 52px;
} 

ul.top_nav li {
	float: left;
} 

ul.top_nav a:hover {
	background-color: rgba(255, 255, 255, 0.4);
	cursor: pointer;
}
ul.top_nav a {
	display: block;
	height: 34px;
	min-width: 60px;
	width: auto;
	background-color: rgba(255, 255, 255, 0.1);
	margin-right: 1px;
	text-align: center;
	line-height: 34px;
	color: #fff;
	text-transform: uppercase;
	padding: 0 14px;
}
ul.top_nav a.active {
	background-color: rgba(255, 255, 255, 1);
	cursor: pointer;
	color: #009EBC;
	border-bottom: 0px solid #fff;
}  

/**********************************
 * Home Page
 **********************************/
div.login_zone{
	float: right;
	height: 230px;
	width: 210px;
	padding: 90px 0 0 0;
	background-color: #009EBC;
	
}

div.logout_zone{
	float: right;
	height: 28px;
	width: 300px;
	margin-top: 54px;
	
}

div.logout_zone p.username{
	float: right;
	color: #fff;
	height: 28px;
	line-height: 28px;
	font-weight: 700;
	cursor: default;
}

div.intro_zone{
	float: left;
	height: 320px;
	width: 678px;
	background-color: #003A54;
	
}

p.org_header{
	float: left;
	margin-left: 46px;
	margin-top: 46px;
	width: 400px;
	color: rgba(255, 255, 255, 0.9);
	font-family: serif;
	font-size: 28px;
	line-height: 34px;	
}

p.org_when{
	float: left;
	margin-left: 46px;
	margin-top: 30px;
	color: #fff;
	font-size: 14px;	
}

div.content_box{
	float: left;
	height: auto;
	width: 444px;
	background-color: #fff;
	padding: 46px 0;
	
}

div.content_box p.header {
	float: left;
	margin-left: 46px;
	color: #333;
	font-size: 22px;	
}

div.content_box p.text {
	float: left;
	width: 344px;
	margin-left: 46px;
	margin-top: 30px;
	color: #333;
	font-size: 12px;	
}

div.content_box img {
	float: left;
	width: 344px;
	height: auto;
	margin-left: 46px;	
}
	
		
/**********************************
 * Pages Content
 **********************************/

div.content_top{
	float: left;
	height: 92px;
	margin-top: 46px;
	width: 888px;
	background-color: #F2F2F2;	
}

div.content_top p.header {
	float: left;
	margin-left: 46px;
	margin-top: 34px;
	color: #333;
	font-size: 22px;	
}

div.content_top a.edit {
	float: right;
	height: 30px;
	width: 30px;
	margin-right: 31px;
	margin-top: 31px;
	background-image: url(/assets/admin/pencil.png);	
	background-color: rgba(255, 255, 255, 0.3);
}
div.content_top a.edit:hover {

	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.8);
}

div.content_main{
	float: left;
	height: auto;
	width: 669px;
	border-right: 1px solid #F2F2F2;	
	padding: 46px 0;
	
}

div.content_main p.text {
	float: left;
	width: 577px;
	margin-left: 46px;
	color: #333;
	text-align: justify;
	font-size: 12px;	
}

div.content_main img {
	float: left;
	width: 577px;
	margin-left: 46px;
	padding: 46px 0;
}

div.content_secondary{
	float: left;
	height: 800px;
	width: 218px;
	padding: 46px 0;
	
}

/**********************************
 * Attachments
 **********************************/

ul.attachments{
	float: left;
	height: auto;
	width: 172px;
	margin-left: 46px;
}

ul.attachments li{
	float: left;
	height: auto;
	width: 172px;
	margin-bottom: 30px;
}

ul.attachments li p.name{
	float: left;
	height: 20px;
	line-height: 20px;
	color: #333;
	width: 172px;
}

ul.attachments li a.file{
	float: left;
	height: 20px;
	line-height: 20px;
	padding: 4px 0;
	color: #003A54;
	width: 172px;
	background-image: url(/assets/admin/doc_icon.png);
	background-repeat: no-repeat;
	background-position: right center;
	opacity: 0.9;
}

ul.attachments li a.file:hover{
	text-decoration: underline;
	opacity: 1;
	cursor: pointer;
}

/**********************************
 * Comments
 **********************************/
 
div.content_comments{
	float: left;
	height: 900px;
	margin-top: 0;
	width: 888px;
	background-color: #E6F2F2;	
	background-image: url(/assets/admin/gradient.png);
	background-repeat: repeat-x;
	background-position: top;
}


div.content_comments a.name{
	float: left;
	color: #003A54;
	font-weight: 700;
	font-size: 12px;
	margin-left: 20px;
	margin-top: 20px;
	clear: both;
}

div.content_comments p.question{
	float: left;
	padding: 20px;
	padding-top: 10px;
	height: auto;
}

ul.main_questions {
	width: 796px;
	margin-left: 46px;
	margin-top: 46px;
	float: left;
	height: auto;
}

ul.main_questions li{
	width: 796px;
	min-height: 80px;
	height: auto;
	float: left;
	background-color: rgba(255, 255, 255, 1);
	margin-bottom: 2px;
		border-top: 1px solid #999;
}

ul.sub_questions {
	width: 623px;
	float: left;
	margin-left: 46px;
	height: auto;
	margin-bottom: 4px;
}

ul.sub_questions li{
	width: 750px;
	min-height: 80px;
	height: auto;
	float: left;
	background-color: rgba(255, 255, 255, 0.8);
	margin-bottom: 2px;
	border: 0;
}


/**********************************
 * Cases
 **********************************/
ul.cases {
	width: 888px;
	margin: 46px 0;
	height: auto;
	float: left;
}

ul.cases li {
	width: 888px;
	height: 40px;
	background-color: #f0f0f0;
	margin-bottom: 2px;
	float: left;
}

ul.cases li:hover {
	background-color: #f4f4f4;
	cursor: pointer;
}

ul.cases p {
	float: left;
	height: 40px;
	border-right: 1px solid #f9f9f9;
	padding: 0 8px;
	line-height: 40px;
}

ul.cases p.title {
	width: 180px;
	font-weight: 700;
	float: left;
}

ul.cases p.title a{
	width: 180px;
	font-weight: 700;
	float: left;
}

ul.cases p.title a:link, a:visited, a:active {
	text-decoration:none;
	color: #333;
 }

ul.cases p.description{
	width: 400px;
}

ul.cases a.button{
	float: right;
	height: 30px;
	width: 30px;
	margin-top: 5px;
	margin-right: 5px;
	background-color: rgba(255, 255, 255, 0.3);
}

ul.cases a.button:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.7);
}

ul.cases a.edit {
	background-image: url(/assets/admin/pencil.png);
}

ul.cases a.comments {
	background-image: url(/assets/admin/comment.png);
	padding: 0 12px 0 36px;
	background-repeat: no-repeat;
	background-position: left center;
	text-align: center;
	line-height: 30px;
	height: 30px;
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}

ul.cases a.remove {
	background-image: url(/assets/admin/remove.png);
}


/**********************************
 * Footer
 **********************************/

div.footer {
	float: left;
	background-color: rgba(200, 200, 200, 0.1);
	width: 888px;
	height: 86px;
	margin-left: 46px;
	margin-bottom: 100px;
	margin-top: 100px;
	}	

/**********************************
 * Inputs
 **********************************/	

/* Inputs*/	

div.input_holder {
	margin: 0 0 12px 28px;
	width: 140px;
	height: 26px;
	float: left;
	}

input {	
	width: 100%;
	height: 18px;	
	border: 1px solid rgba(255, 255, 255, 0.4);
	background-color: rgba(253, 253, 253, 1);
	border-radius: 1px;	
	outline: none;
	font-family: lucida grande;
	line-height: 16px;
	font-size: 12px;
	color: #d1d1d1;	
	padding: 2px 4px;
	}

input:hover	{	
	background-color: rgba(255, 255, 255, 1);
	}	

input:focus	{	
	background-color: #ffffff;
	box-shadow: inset 1px 1px 1px rgba(100, 100, 100, 0.1);
	color: #333;	
	}		
	

div.logout_zone input.submit_button {	
	width: 80px;
	height: 26px;
	margin-left: 14px;	
	border: 1px solid rgba(255, 255, 255, 0.4);
	background-color: rgba(0, 58, 84, 0.9);
	border-radius: 1px;	
	outline: none;
	font-family: lucida grande;
	text-transform: uppercase;
	line-height: 16px;
	font-size: 12px;
	color: #fff;	
	float: right;
	}

input.submit_button {	
	width: 152px;
	height: 26px;	
	border: 1px solid rgba(255, 255, 255, 0.4);
	background-color: rgba(0, 58, 84, 0.9);
	border-radius: 1px;	
	outline: none;
	font-family: lucida grande;
	text-transform: uppercase;
	line-height: 16px;
	font-size: 12px;
	color: #fff;	
	float: left;
	margin-left: 27px;
	}
	
	
input.submit_button:hover {		
	border: 1px solid rgba(255, 255, 255, 0.5);
	background-color: rgba(0, 58, 84, 1);
	cursor: pointer;
	}	

input.f_right{
	float: right;
	margin-top: 10px;
	margin-right: -20px;
	margin-left: 0;
}

input.f_mini{
	float: right;
	margin-top: 10px;
	margin-right: -20px;
	margin-left: 0;
	width: 60px;
}

input.n_case {
	float: left;
	margin-top: -10px;
	margin-left: 0;
	background-image: url(/assets/admin/add.png);
	background-repeat: no-repeat;
	background-position: 4px 0;
}

div.textarea_holder{
	width: 778px;
	height: auto;
	float: left;
	margin-top: 46px;
}

div.textarea_holder_mini{
	width: 730px;
	height: auto;
	float: left;
	margin-top: 4px;
}

textarea {
	outline: none;
	width: 100%;
	min-width: 500px;
	max-height: 100px;
	height: 80px;
	border: 2px solid rgba(200, 200, 200, 0.6);
	border-radius: 1px;
	
	padding: 8px 8px;
	line-height: 14px;
	font-family: lucida grande;
	font-size: 12px;
	}


textarea.mini {
	outline: none;
	min-width: 380px;
	width: 660px;
	max-width: 660px;
	max-height: 100px;
	margin-top: 8px;
	height: 14px;
	border: 2px solid rgba(200, 200, 200, 0.6);
	border-radius: 1px;
	}		


textarea:focus {
	border: 2px solid rgba(200, 200, 200, 1);
	}		

span.submit {
	height: 24px;
	width: 100px;
	line-height: 24px;
	margin: 30px 14px 0 0;
	float: right;
	
	font-family: lucida grande;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	background-color: rgba(255, 100, 75, 0.8); 
	color: white;
	}

span.submit:hover {
	background-color: rgba(255, 100, 75, 1); 
	cursor: pointer;
	}	
	
/**********************************
 * Anchors Buttons
 **********************************/

a:link, a:visited, a:active {
	text-decoration:none;
	color: #333;
 }
	
a.submit_button {	
	width: 152px;
	height: 26px;	
	border: 1px solid rgba(255, 255, 255, 0.4);
	background-color: rgba(0, 58, 84, 0.9);
	border-radius: 1px;	
	outline: none;
	font-family: lucida grande;
	text-transform: uppercase;
	line-height: 26px;
	font-size: 12px;
	color: #fff;	
	float: left;
	text-align:center;
	margin-left: 27px;
}


a.submit_button:hover {		
	border: 1px solid rgba(255, 255, 255, 0.5);
	background-color: rgba(0, 58, 84, 1);
/*	cursor: pointer;*/
}

a.n_case {
	float: left;
	margin-top: -12px;
	margin-left: 0;
	background-image: url(/assets/admin/add.png);
	background-repeat: no-repeat;
	background-position: 4px 1px;
}								



	
