<li>
	<p class="title"><%=user.email%></p>
	<%=link_to '',delete_user_url(user),:class => 'remove button',:confirm => "Desea eliminar el caso?"%>
	<%=link_to '',edit_user_url(user),:class => "edit button"%>
</li>
