<%# render :partial => "admin/shared/flash_notification", :object => :user%>

<div class="title-holder">
	<p class="header">Administradores</p>
	<p class="subtitle">Tienen acceso a la administración total de la web</p>
</div>

<ul class="users-list">
	<%=render :partial => '/admin/users/user', :collection => @administradores%>
</ul>

<div class="title-holder">
	<p class="header">Profesores</p>
	<p class="subtitle">Pueden ver los casos y alumnos, responder preguntas como comentarios</p>
</div>

<ul class="users-list">
	<%=render :partial => '/admin/users/user', :collection => @professors%>
</ul>


<div class="title-holder">
	<p class="header">Alumnos</p>
	<p class="subtitle">Pueden ver los casosy otros alumnos, hacer preguntas como comentarios</p>
</div>

<ul class="users-list">
	<%=render :partial => '/admin/users/user', :collection => @alumnes%>
</ul>



<span class="moveleft">
<%= link_to "Usuario", new_user_url,:class => 'submit_button n_user'%>
</span>