<%# render :partial => "admin/shared/flash_notification", :object => :user%>

	
<p class="margin-bottom-30"><%= link_to "Nuevo usuario", new_user_url%></p>	

<h1>Profesores</h1>
<p class="margin-bottom-30 gray">Tienen acceso a la administración total de la web</p>

<ul class="text-only-objects margin-bottom-30">
	<%=render :partial => '/admin/users/user', :collection => @professors%>
</ul>


<h1>Alumnos</h1>
<p class="margin-bottom-30 gray">Pueden ver los casos, añadir documentación y hacer preguntas com comentarios</p>

<ul class="text-only-objects margin-bottom-30">
	<%=render :partial => '/admin/users/user', :collection => @alumnes%>
</ul>