<div class="slide" id="slide1" data-slide="1" data-stellar-background-ratio="0.5">
	<div class="container clearfix">

		<div id="content" class="grid_12">
			<div class="filtr_bg">
				<h1>CURSO PRÁCTICO DE ENDOCRINOLOGÍA GINECOLÓGICA Y REPRODUCCIÓN HUMANA BASADO EN EL CASO</h1>
				<div class="slogan">
					<div class="left_bord"></div>
					<div class="slogan_text">Barcelona, Noviembre 11, 12, 13</div>
					<div class="right_bord"></div>
				</div>
        
				<div class="left_bord"></div>
				<div class="button_block">
					<div class="button_bg"></div>
					<a class="button" title="" data-slide="2">Learn More<span></span></a>
				</div>
				<div class="right_bord"></div>
        
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>


<div class="menu">	
	<div class="container clearfix">

		<div id="logo" class="fleft">
			<a href="index.html"><img src="/assets/front/santpau_logo_white.png" /></a>
		</div>
		
		<div id="nav" class="fright">
			<ul class="navigation">
				
				<li data-slide="2">Bienvenidos</li>
       		 	<li data-slide="3">Curso</li>
		        <li data-slide="4">Metodología</li>
		        <li data-slide="5">Temario</li>
		        <li data-slide="6">Profesores</li>
		        <li data-slide="7">Programa</li>
				<li data-slide="8">Contacto</li>
	
				<div class="clear"></div>
			</ul>
		</div>
	
	</div>
</div>


<div class="slide" id="binevenidos" data-slide="2" data-stellar-background-ratio="0.5">
	<div class="container clearfix">
		
		<div id="content" class="grid_12">
			<h1 class="undeline">Bienvenido</h1>
		</div>
		
		<div id="content">
			<div class="grid_6">
        <p>Estimado participante,</p>
				<p>Nos es grato darte la bienvenida a la web del CURSO DE ENDOCRINOLOGÍA REPRODUCTIVA basado en el caso, donde podrás encontrar toda la documentación relevante y la información oportuna sobre el Programa.Esta web ha sido diseñada como herramienta de apoyo al Programa así como para extender la actividad de desarrollo y aprendizaje más allá de las sesiones presenciales. A través de esta página puedes acceder a los planes de trabajo, la lista de participantes y los materiales académicos del Programa. Será también una vía eficaz de comunicación con el resto de participantes por medio de los foros y con la Dirección del Programa para mantenerte informado de las distintas novedades y actividades que se vayan sucediendo. </p>
			</div>
			<div class="grid_6 omega">
				<p>Este programa de perfeccionamiento está organizado por el Departamento de Endocrinología Reproductiva del Servicio de Ginecología y Obstetricia del Hospital de la Santa Creu i Sant Pau en colaboración con la UAB. El programa representa una de las respuestas a la inquietud surgida desde ambas instituciones para colaborar en el desarrollo y mejora esta subespecialidad. Tiene un enfoque de super-especialista, orientado a analizar y reflexionar sobre casos con las que se encuentra hoy los Centros y departamentos especializados

</br></br>Un cordial saludo,

</br></br>Dr. Joaquim Calaf y Dr. Juan J Espinós Gómez |
Directores del Programa </p>
			</div>
			
			<div class="clear"></div>
		</div>
		
	</div>
</div>






<div class="slide" id="curso" data-slide="3" data-stellar-background-ratio="0.5">
	<div class="container clearfix">
		
		<div id="content" class="grid_12">
      <a class="button  up-arrow" title="" data-slide="1"></a>
			<h1 class="undeline">Curso</h1>
     
      
      <div class="clear"></div>
		</div>
		
		<div id="content">
			<div class="grid_6">
				<p>El Curso de Endocrinología Reproductiva basado en el caso es un programa de adquisición y perfeccionamiento de conocimientos y habilidades en esta subespecialidad liderado por el Hospital de la Santa Creu i Sant Pau y la Universistat Autònoma de Barcelona , que tiene como objetivos:</p>
      	<p><span class="checkmark"></span>	Proveer nuevos conocimientos y herramientas en el campo de la Endocrinología Reproductiva.<br>
      	<span class="checkmark"></span>		Desarrollar una manera de razonar y actuar adaptada a los nuevos métodos diagnósticos y terapéuticos.<br>
      	<span class="checkmark"></span>		Desarrollar las habilidades para el diagnóstico diferencial entre diferentes entidades.<br>
      	<span class="checkmark"></span>		Favorecer la comunicación oral en públicoy el trabajo en equipo.<br>
      	<span class="checkmark"></span>		Proporcionar una visión general de la Endocrinología Ginecológica y de las técnicas de Reproducción Asistida.<br>
        </p>
			</div>
			<div class="grid_6 omega">
				<p>El programa está dirigido a residentes de 3º o 4º año y especialistas en Ginecología y Obstetricia con o sin experiencia que deseen profundizar en el conocimiento de aquellos aspectos relacionados con la Endocrinología Reproductiva. <br><br>Nuestro Comité de Admisiones valora el perfil de cada candidato y decide sobre la idoneidad de su participación en el Curso.<br><br>Los métodos de enseñanza empleados por el son altamente interactivos e incluyen estudio de casos, debates y presentaciones, todas ellas metodologías dinámicas que potencian al máximo el aprendizaje. </p>
			</div>
      <div class="clear"></div>
			<div class="grid_4 omega">
				<img src="/assets/front/Interior-Hospital-de-Sant-Pau.jpg" alt="" />
			</div>
			<div class="grid_4 omega">
				<img src="/assets/front/Interior-Hospital-de-Sant-Pau.jpg" alt="" />
			</div>
			<div class="grid_4 omega">
				<img src="/assets/front/Interior-Hospital-de-Sant-Pau.jpg" alt="" />
			</div>
			<div class="clear"></div>
		</div>
		
	</div>
</div>



<div class="slide" id="metodologia" data-slide="4" data-stellar-background-ratio="0.5">
	<div class="container clearfix">
		
		<div id="content" class="grid_12">
      <a class="button  up-arrow" title="" data-slide="1"></a>
			<h1 class="undeline">Metodología</h1>
		</div>
    
    <div id="content" class="grid_12">
      <p>Dentro de las metodologías interactivas de aprendizaje, en la actualidad destaca el Método del Caso, como herramienta básica para la adquisición de conocimientos y habilidades en Medicina.</p>
      
      <p>Para que un médico desarrolle, mejore o potencie al máximo su modelo de toma de decisiones y la capacidad para resolver situaciones específicas, la forma de aprender debe ser sobre todo, activa y participativa.</p>
      
      <p><span class="checkmark"></span>Activa: los facultativos aprenden a tomar decisiones, precisamente entrenándose, experimentando, decidiendo, resolviendo dilemas, cuestiones de toda índole, y enfrentándose a esas situaciones. </p>
      <p><span class="checkmark"></span>Participativa: en cuanto a compartir experiencias con profesionales de otros centros o  entornos diferentes. No se trata de encontrar una solución única, el objetivo es comprender y evaluar las decisiones tomadas en cada caso y examinar cuanto es aplicable en su realidad como especialista en Endocrinología Reproductiva y desarrollar nuevos conceptos que pueden servir para resolver problemas en el futuro. </p>
      <p>El Caso, es la descripción de un hecho real, o una simulación de una situación a la que hay que enfrentarse y dar solución.</p>
    </div>
    
		<div id="content" class="grid_12">

			<div class="accordion">
				<h3><span>En cuanto a CONTENIDO</span></h3>
				<div class="accord_cont">
					<p>Estudio Individual:</p><br />

<p>Analizar y contrastar datos, profundizar, visualizar, es un ejercicio de síntesis, detectar claramente:</p><br />

<p><span class="checkmark"></span>Síntomas/problemas</p>
<p><span class="checkmark"></span>Definición del problema</p>
<p><span class="checkmark"></span>Análisis de las causas</p>
<p><span class="checkmark"></span>Diagnóstico diferencial</p>
<p><span class="checkmark"></span>Valorar alternativas, criterios….</p>
<p><span class="checkmark"></span>Formular hipótesis diagnósticas</p>
<p><span class="checkmark"></span>Plan terapéutico</p><br />

<p>Trabajo en Equipo:</p><br />

<p>Se asigna a cada participante un grupo de trabajo, durante el cual se discuten, reforzando,  profundizando y argumentando el análisis del caso que ha hecho cada uno individualmente, es un primer entreno. La riqueza del trabajo en equipo reside en que cada uno de los integrantes aporte, desde su punto de vista  -basado en su formación, experiencia profesional, etc.-, planteamientos y soluciones personales, lo que significa también una magnífica oportunidad para contrastar criterios.</p><br /> 

<p>Sesión General:</p><br />

Es una discusión guiada por el profesor, con una visión más amplia  que la contrastada en el Trabajo en Equipo, el profesor encauza y lidera de nuevo la discusión para, a través de ella, mejorar nuestras habilidades y capacidades sobre el área o tema tratados en el caso, y  extraer las conclusiones más importantes, estableciendo el marco conceptual aplicable a otros escenarios.</p>
				</div>
				<h3><span>En cuanto a FORMA</span></h3>
				<div class="accord_cont">
					<p>Para lograr un adecuado aprovechamiento del programa, es necesario seguir las siguientes recomendaciones:</p><br />

<p><span class="checkmark"></span>Dedicar, un tiempo a la lectura de cada caso, antes del inicio de las sesiones, con el fin de analizar los hechos que en él suceden. Es recomendable pensar en más de una alternativa de solución para poder enriquecer las discusiones posteriores.
Trabajo en Equipo. </p>
<p><span class="checkmark"></span>El Trabajo en Equipo  -formado por 7 u 10 participantes - es una reunión de 30 minutos aproximadamente. El Trabajo en Equipo no suple al estudio individual, y no pretende consensuar respuestas ni hacer presentaciones en común en la sesión general que se desarrollará a continuación.</p>
<p><span class="checkmark"></span>En la sesión general,  los participantes van exponiendo sus reflexiones, levantando la mano para favorecer la participación ordenada. Las sesiones generales tienen una duración de 1 hora.</p>
				</div>                            
			</div>
      <p></p>
		</div>
	
	</div>
</div>



<div class="slide" id="temario" data-slide="5" data-stellar-background-ratio="0.5">
	<div class="container clearfix">
		
		<div id="content" class="grid_12">
      <a class="button  up-arrow" title="" data-slide="1"></a>
			<h1 class="undeline">Temario</h1>
		</div>
		
		<div id="content">
			<div class="grid_12">
				<p>
          La discusión de los casos incluirá la revisión de los siguientes temas:
        </p>
			</div>
			<div class="grid_12">
				<p>
          <span class="checkmark"></span>Amenorreas hipotalámicas orgánicas congénitas y adquiridas: Sd de Kallmann, HHI, etc..<br />
          <span class="checkmark"></span>Amenorreas de origen hipofisario: agenesia congénita hipofisaria, hipofisitis autoinmune, Sd Sheehan, Sd silla turca vacía, tumoraciones hipofisarias, etc...<br />
          <span class="checkmark"></span>Hiperprolactinemia: prolactinomas, macroprolactinemia, etc...<br />
          <span class="checkmark"></span> Fallo ovárico precoz primario y secundario: enfermedades autoinmunes, efecto de la radio y quimioterapia, etc...<br />
          <span class="checkmark"></span>Fallo ovárico oculto: concepto de reserva ovárica, pruebas diagnósticas, etc...<br />
          <span class="checkmark"></span>Disgenesias gonadales puras y mixtas.<br />
          <span class="checkmark"></span>Estados intersexuales.<br />
          <span class="checkmark"></span>Hiperandrogenismos ováricos funcionales y tumorales.<br />
          <span class="checkmark"></span>Hiperandrogenismos suprarrenales: formas parciales de HSC, etc...<br />
          <span class="checkmark"></span>Alteraciones del desarrollo puberal.<br />
          <span class="checkmark"></span>Menopausia.<br />
          <span class="checkmark"></span>Contracepción hormonal: vías de administración.<br />
          <span class="checkmark"></span>Tratamiento de la anovulación: sustancias, vías de administración, protocolos, etc...
        </p>
			</div>
      <div class="clear"></div>
			<div class="grid_4 omega">
				<img src="/assets/front/Interior-Hospital-de-Sant-Pau.jpg" alt="" />
			</div>
			<div class="grid_4 omega">
				<img src="/assets/front/Interior-Hospital-de-Sant-Pau.jpg" alt="" />
			</div>
			<div class="grid_4 omega">
				<img src="/assets/front/Interior-Hospital-de-Sant-Pau.jpg" alt="" />
			</div>
			<div class="clear"></div>
		</div>
		
	</div>
</div>


<div class="slide" id="profesores" data-slide="6" data-stellar-background-ratio="0.5">
	<div class="container clearfix">
		
		<div id="content" class="grid_12">
      <a class="button  up-arrow" title="" data-slide="1"></a>
			<h1 class="undeline">Profesores</h1>
		</div>
    
		<div id="content" class="grid_12">
			<p>Our team consists of the best local and global talent, and top-shelf only leaders.</p>
			<div class="slider-aux-nav mb-50">
				<a href="#" class="previous-team-slider color-charcoal color-hover-turquoise left-arrow"><span class="bkg-charcoal"></span></a>
				<a href="#" class="next-team-slider color-charcoal color-hover-turquois rigth-arrow"><span class="bkg-charcoal"></span></a>
			</div>
		</div>
    
    <div id="content" class="grid_12">
			<div id="team-slider-1" class="tm-slider-container team-slider team-slider-1" data-carousel-visible-slides="3" data-height="100">
				<ul class="tms-slides">	
					<li class="tms-slide">
						<div class="team-content">
							<div class="thumbnail">
								<img data-src="/assets/front/team/Monica_Aura.jpg" src="images/blank.png" alt=""/>
							</div>
							<div class="team-content-info">
								<h5>Dra. Mónica Aura Maura</h5>
								<h6>Centro de Rep. Asistida.Quiron</h6>
								<p>	Licenciada en Medicina y Cirugía general por la Universitat Autònoma de Barcelona en 1994. Título de especialista en Ginecología y Obstetricia obtenido mediante programa de formación M.I.R. en el periodo 1996-2000 en el Hospital de la Santa Creu i Sant Pau de Barcelona. Formación en Esterilidad por el equipo de Reproducción Asistida del Departamento de Obstetricia y Ginecología. </p>
								<p>Obtención del Nivel III de Ecografía durante el periodo de formación en el Hospital de la Santa Creu i Sant Pau 1999-2000. Master en Reproducción Humana IVI y Universidad Juan Carlos I curso académico 2008-2009. Desde el 2007 Coordinadora clínica del servicio de Reproducción Asistida del Hospital Quirón de Barcelona. Profesor Asociado del Master Internacional en Reproducción Humana por la Universidad Autonoma / Hospital del mar. Miembro del Comité Organizador del Congreso de la SEF, 2014.</p>
							</div>
						</div>
					</li>
					<li class="tms-slide">
						<div class="team-content">
							<div class="thumbnail">
								<img data-src="/assets/front/team/JoaquimCalafPortrait.png" src="images/blank.png" alt="team memeber 1"/>
							</div>
							<div class="team-content-info">
								<h5 class="mb-5">Dr. Joaquim Calaf</h5>
								<h6 class="occupation">Hosp. de la Santa Creu i Sant Pau</h6>
									<p>Catedratico de Obstetricia y Ginecologia de la Universidad Autónoma de Barcelona y Director del Servicio en el Hospital de la Santa Creu i Sant Pau. 
										Director del Programa de Reproducción asistida Sant Pau-Fundació Puigvert. 
										Presidente de la “Comissió Assessora de Reproducció Humana Asistida” de la Generalitat de Catalunya y Miembro del Comité Científico de la Agencia de Evaluación de Tecnologias médicas. 
										Conselleria de Sanitat. Generalitat de Catalunya.</p>

									<p>Co-director del Curso de Endocrinología Endocrinológica de la Universitat Autònoma de Barcelona. 
										Hospital de la Santa Creu i Sant Pau desde 1997.
										Presidente del II Annual ESHRE Winter Training Course in Reproductive Endocrinology. Barcelona, 1998. 
										Presidente del IV Congress of the European Society of Gynaecology. Barcelona, 2001.
										Director del Case based winter training course EMAS 2008</p>
							</div>
						</div>
					</li>
					<li class="tms-slide">
						<div class="team-content">
							<div class="thumbnail">
								<img data-src="/assets/front/team/JustoCallejoPortrait.png" src="images/blank.png" alt="team memeber 1"/>
							</div>
							<div class="team-content-info">
								<h5 class="mb-5">Dr. Justo Callejo</h5>
								<h6 class="occupation">Hosp. de Sant Joan de Deu</h6>
								<p>Licenciado en Medicina y Cirugía por la Universidad Autónoma de Barcelona en 1976. Especialista en obstetricia y ginecología, 1.979. 
									Doctor en medicina y cirugía por la Universitat de Barcelona, 1.980.</p>

								<p>Personal investigador / experimentador. Departament d´Agricultura, Ramaderia i Pesca de la Generalitat de Catalunya, 2001. 
								Jefe clínico del servicio de obstetricia y ginecología del Hospital Universitari Sant Joan de Déu de Barcelona, 1.991. 
								Profesor titular de ginecología y obstetricia, de la Universitat de Barcelona, Facultad de Medicina, 2001.</p>

								<p>Coordinador grupo de trabajo para la preservación de la fertilidad de la SEF (Sociedad Española de Fertilidad), 2009. 
								Director de la línea de investigación “Trasplante de ovario”, del Hospital Universitari Sant Joan de Déu, 1.999. 
								Editor de cinco libros; 28 capítulos de libro; 31 artículos en revistas de la especialidad. 
								Becas FIS, Fundación Salud 2000 y dos Becas AFR (HSJD). Premios de la European asociation of tissue bank, Sociedad española de fertilidad y Victor Conill Montobio”. 
								Director de dos tesis doctorales y de dos Simposios Internacionales. Ponente en más de cien cursos, simposios y congresos.</p>
							</div>
						</div>
					</li>
					<li class="tms-slide">
						<div class="team-content">
							<div class="thumbnail">
								<img data-src="/assets/front/team/MiguelAngelChecaPortrait.png" src="images/blank.png" alt="team memeber 1"/>
							</div>
							<div class="team-content-info">
								<h5 class="mb-5">Dr. Miguel Ángel Checa</h5>
								<h6 class="occupation">IMAS Hosp. del Mar i l’Esperança</h6>
								<p>Desde el año 2009 es Jefe de Sección de Endocrinología ginecológica y Reproducción Humana del Hospital del Mar. Barcelona. Es profesor asociado de la Universidad Autónoma de Barcelona desde el año 2000. Licenciado por la Universidad Autónoma de Barcelona (UAB) en 1994. Especialista en Obstetricia y Ginecología por concurso oposición Médico Interno Residente en la convocatoria nacional de 1996-2000.
								Doctor en Medicina y Cirugía sobresaliente "cum laude" año 2003 premio extraordinario de doctorado de la UAB. 
								Está acreditado para profesor titular desde el año 2011. Profesor de postgrado en diferentes universidades españolas. 
								Director del Master Internacional de Medicina Reproductiva Humana, UAB.</p>

								<p>Artículos científicos publicados en revistas indexadas 95. 
								En 64 artículos aparece como el primer autor o en la correspondencia. 
								Ha escrito 28 capítulos de libro y ha editado o co-editado 7 libros. Desde 1988 ha presentado de forma 
								ininterrumpida los resultados de las investigaciones a los congresos y reuniones científicas nacionales e internacionales de la especialidad. 
								Ha realizado un total de 150 comunicaciones y conferencias nacionales e internacionales. 
								Revisor científico de las revistas internacionales: EuropeanJournal of ObstetricsGinecology and ReproductiveBiology, American Journal of AssistedReproduction, Maturitas, 
								ReproductiveBiomedicine Online, Archives of Gynecology and Obstetrics, Fertility and Sterility y Human Reproduction Update.</p>
							</div>
						</div>
					</li>
					
					<li class="tms-slide">
						<div class="team-content">
							<div class="thumbnail">
								<img data-src="/assets/front/team/JuanjoEspinosPortrait.png" src="images/blank.png" alt="team memeber 1"/>
							</div>
							<div class="team-content-info">
								<h5 class="mb-5">Dr. Juanjo Espinós Gómez</h5>
								<h6 class="occupation">Hosp. de la Santa Creu i Sant Pau</h6>
								<p>Título de Licenciado de Medicina y Cirugía por la Universidad Central de Barcelona obtenido en 1986 y Especialista en Ginecología y Obstetricia desde 1991. 
									Premio extraordinario de licenciatura concedido por la Universidad Central de Barcelona. 
									Doctor en Medicina y Cirugía con grado "Cum laude" con la tesis doctoral: "Papel de la insulina y el IGF1 en la fisiopatología de los ovarios poliquísticos" en 1992.

								<p>Coordinador de Endocrinología Reproductiva del Servicio de Ginecología y Obstetricica del Hospital de Sant Pau. 
									Director del Centro de Reproducción Asistida de Clínica Sagrada Familia desde 2005. 
									Profesor titular en la Unitat docent del Hospital de la Santa Creu i Sant Pau. 
									Universitat Autónoma de Barcelona. Co-director del Curso de Endocrinología Endocrinológica de la Universitat Autònoma de Barcelona. 
									Hospital de la Santa Creu i Sant Pau desde 1997. Fue coordinador del Grupo de Endocrinología Reproductiva de la SEF desde el 2003 al 2007.  
									Presidente del Congreso de la Sociedad Española de Fertilidad 2014.</p> 

								<p>Asesor del Comité de Redacción de Medicina Reproductiva de la Revista de la Asociación Colombiana de Fertilidad y Esterilidad desde 1997 y 
									Coordinador del consejo consultivo de la Sección de Reproducción de la Revista Clínica e Investigación en Ginecología y Obstetricia desde 1998. 
									Coordinador científico de la Revista Ginecología desde 1998.</p>

								<p>Más de 100 publicaciones en revistas nacionales e internacionales sobre aspectos endocrinológicos como la hiperprolactinemia, 
									el ovario poliquístico, las amenorreas hipotalámicas, la contracepción hormonal, etc. 
									Revisor científico de las revistas internacionales como European Journal of Obstetrics, 
									Ginecology and Reproductive Biology, Reproductive Biomedicine Online, 
									Fertility and Sterility o Reproductive Biology and Endocrinology</p>
							</div>
						</div>
					</li>
					<li class="tms-slide">
						<div class="team-content">
							<div class="thumbnail">
								<img data-src="/assets/front/team/FrancescFabreguesPortrait.png" src="images/blank.png" alt="team memeber 1"/>
							</div>
							<div class="team-content-info">
								<h5 class="mb-5">Dr. Francesc Fàbregues</h5>
								<h6 class="occupation">Corporació Sanitària Hosp. Clínic</h6>
								<p>Médico Consultor del Instituto Clinic de Obstetricia, Ginecología y Neonatología (ICGON), Barcelona. Profesor Asociado en la Universidad de Barcelona. Acreditación ANECA para profesor titular. 
								87 artículos indexados (302,34 puntos IF) (H-index: 25). Investigador del Area 3 de IDIBAPS del Grupo "Gynecological Endocrinology and Human Reproduction" y del grupo de investigación consolidado 
								"Fisiopatología de la Reproducción Humana". Generalitat de Cataluña-AGAUR 2009SGR 1099</p>

								<p>Referente mundial en "Inducción de la ovulación" y "síndrome de hiperestimulación ovárica" por el World Biomed Expertos. Miembro del Grupo de interés en Endocrinología Reproductiva de la Sociedad Española de Fertilidad (SEF) desde 2005-2009.</p>

								<p>Presidente de la Sección de Endocrinología Ginecológica y Reproducción Humana de la Sociedad Catalana de Obstetricia y Ginecología (SCOGIN) del 2004-2006. Representante de la SEF en la International Federation of Fertility Societies (IFFS).
								Tutor de residentes del ICGON (Acreditación IES). Co-Director-Programa de estancia formativa en Medicina de la Reproducción-Aula Clinic</p>
							</div>
						</div>
					</li>
				<li class="tms-slide">
					<div class="team-content">
						<div class="thumbnail">
							<img data-src="/assets/front/team/JulioHerreraPortrait.png" src="images/blank.png" alt="team memeber 1"/>
						</div>
						<div class="team-content-info">
							<h5 class="mb-5">Dr. Julio Herrero</h5>
							<h6 class="occupation">Hosp. Universitario Vall d’Hebron</h6>
							<p>Licenciado en Medicina y Cirugía por la Universidad de Valladolid. Especializado en Obstetricia y Ginecología en el departamento de obstetricia y ginecología de la universidad de Giessen (Alemania). Doctorado por la universidad Jutus Liebig en Giessen (Alemania).</p>

							<p>Ha ejercido como docente en la facultad de medicina y de enfermería de la universidad de Giessen (Alemania). Profesor asociado de la Universidad Autónoma de Barcelona desde 2002. Coordinador desde su inauguración y actualmente co-director del CRA de Sagrada Familia, y adjunto del departamento de reproducción asistida del hospital universitario Vall d'Hebron. </p>

							<p>Ha publicado más de 35 artículos en revistas nacionales e internacionales, editado 13 libros, y colaborado con más de 45 publicaciones de otros autores. Conferenciante en más de 130 conferencias nacionales e internacionales.</p>
						</div>
					</div>
				</li>
				<li class="tms-slide">
					<div class="team-content">
						<div class="thumbnail">
							<img data-src="/assets/front/team/PereParesPortrait.png" src="images/blank.png" alt="team memeber 1"/>
						</div>
						<div class="team-content-info">
							<h5 class="mb-5">Dr. Pere Parés</h5>
							<h6 class="occupation">Hosp. de la Santa Creu i Sant Pau</h6>
							<p>Licenciado en Medicina y Cirugía por la Universidad de Barcelona. Médico especialista en Obstetricia y Ginecología. Master en Patología mamaria por la Universidad de Barcelona. Master en Biopatología de la mujer y ginecología preventiva por la Universidad Autónoma de Barcelona. Diplome Universitaire Europeen de Endoscopie opératoire en gynecologie por la Universidad de Auvergne-Clermont-Ferrand I, Francia. Doctor en Medicina y Cirugía por la Universidad Autónoma de Barcelona.</p>

							<p>Actualmente, médico adjunto del programa de Reproducción Asistida de la Fundación Puigvert y del Servicio de Obstetricia y Ginecología del Hospital de la Santa Cruz y San Pablo de Barcelona.</p>

							<p>Socio numerario de la Academia de Ciencias Médicas y de la Salud de Cataluña y de Baleares, de la Sociedad Catalana de Obstetricia y Ginecología, de la Sociedad Española de Ginecología y Obstetricia y de la Sociedad Española de Fertilidad. 
								Autor de 29 publicaciones personales y también, como coautor, en revistas nacionales y en capítulos de libros. Ha presentado 30 posters y múltiples comunicaciones y ponencias en cursos, simposios y congresos nacionales e internacionales. 
								Premio SEF al mejor artículo clínico de 2004 publicado en la Revista Iberoamericana de Fertilidad: "Prevención de las adherencias post-quirúrgicas. Estudio experimental comparativo tras cirugía del ovario de la Coneja”.</p>
						</div>
					</div>
				</li>
				<li class="tms-slide">
					<div class="team-content">
						<div class="thumbnail">
							<img data-src="/assets/front/team/SusanaPeonPortrait.png" src="images/blank.png" alt="team memeber 1"/>
						</div>
						<div class="team-content-info">
							<h5 class="mb-5">Dra. Susana Peón</h5>
							<h6 class="occupation">Hosp. de la Santa Creu i Sant Pau</h6>
							<p>Licenciada en Medicina y Cirugía por la Universidad de Valencia. Especialista en Ginecología y Obstetricia en el Hospital de la Santa Cruz y San Pablo.</p> 

							<p>Actualmente médico adjunto del Equipo de Reproducción de la Fundación Puigvert - Hospital de Sant Pau. Área de interés dentro del equipo médico del programa de reproducción asistida: preservación de fertilidad en la paciente oncológica.</p>

							<p>Miembro de la Academia de Ciencias Médicas, de la Sociedad Española de Ginecología y Obstetricia, de la Sociedad Catalana de Obstetricia y Ginecología, de la Sociedad Española de Fertilidad, de la European Society of Human Reproduction and Embryology y de la American Society for Medicine Reproductive.</p>
						</div>
					</div>
				</li>
				<li class="tms-slide">
					<div class="team-content">
						<div class="thumbnail">
							<img data-src="/assets/front/team/AnaPoloPortrait.png" src="images/blank.png" alt="team memeber 1"/>
						</div>
						<div class="team-content-info">
							<h5 class="mb-5">Dra. Ana Polo</h5>
							<h6 class="occupation">Hosp. de la Santa Creu i Sant Pau</h6>
							<p>Licenciada en Medicina y Cirugía por la Universidad Autónoma de Barcelona (UAB) en 1992 con Premio Extraordinario. Especialidad en Obstetricia y Ginecología en 1996 en Hospital Materno-Infantil Vall d’'Hebrón. Desde 1994 vinculada al profesorado de la Facultad de Medicina de la UAB, impartiendo clases en el Hospital Vall d'Hebrón y posteriormente en el Hospital de la Santa Creu i Sant Pau de Barcelona. </p>
							<p>En 1991 estancia de un mes en el Servicio de Cirugía General de UCSF (Universidad de California en San Francisco) bajo la dirección del Profesor Haile T. Debas., Chairman of the Department of Surgery, y posteriormente Decano de UCSF. 
								Clinical Fellowship in Reproductive Endocrinology Infertility in the Department of Obstetrics and Gynecology of UCLA (Universidad de California en Los Angeles) bajo la dirección del Profesor Alan H. DeCherney del 2000 al 2002. 
								En el 2009 estancia en el Centre for Reproductive Medicine and Fertility Jessop Wing, Royal Hallamshire Hospital in Sheffield.</p>

							<p>Desde 2003 Médico Adjunto del Programa de Reproducción Asistida del Hospital de la Santa Creu i Sant Pau-Fundación Puigvert. Barcelona. Responsable del Área Clínica del Programa de Diagnóstico Genético Preimplantacional.</p>
							<p>Áreas de interés: Diagnóstico genético preimplantacional y síndrome de los ovarios poliquísticos.</p>
							<p>Más de 100 comunicaciones orales y pósters en congresos nacionales e internacionales y más de 20 publicaciones en libros y revistas. Más de 60 ponencias en cursos, congresos, y reuniones científicas nacionales e internacionales. Directora de varios cursos para especialistas en reproducción asistida.</p>
						</div>
					</div>
				</li>
				<li class="tms-slide">
					<div class="team-content">
						<div class="thumbnail">
							<img data-src="/assets/front/team/AntonioRaquenaPortrait.png" src="images/blank.png" alt="team memeber 1"/>
						</div>
						<div class="team-content-info">
							<h5 class="mb-5">Dr. Antonio Requena</h5>
							<h6 class="occupation">IVI. Madrid</h6>
							<p>Licenciado en Medicina por la Universidad Complutense de Madrid. Especialista en Obstetricia y Ginecología por la Universidad Autónoma de Madrid. Con posterioridad a la obtención del título en Ginecología, realizó un fellowship en el laboratorio The Jackson, Maine, USA con John Eppig y formación específica sobre Maduración In Vitro de Ovocitos y con posterioridad en Edimburgo.</p>

							<p>Trabaja en IVI Madrid desde 1997 siendo en la actualidad su Co-director. Además desempeña los cargos de Director médico general de EQUIPO IVI y Director Ejecutivo del Congreso de IVI. Formó parte del Grupo de Endocrinología Reproductiva de la SEF y en la actualidad está integrado en el grupo de trabajo de Preservación de la Fertilidad. Autor de múltiples artículos, capítulos de libros y gran conferenciante, es un apasionado de la Endocrinología Reproductiva y está adscrito a este Curso desde su inauguración.</p>
						</div>
					</div>
				</li>
				<li class="tms-slide">
					<div class="team-content">
						<div class="thumbnail">
							<img data-src="/assets/front/team/RosaTurPortrait.png" src="images/blank.png" alt="team memeber 1"/>
						</div>
						<div class="team-content-info">
							<h5 class="mb-5">Dr. Antonio Requena</h5>
							<h6 class="occupation">IVI. Madrid</h6>
							<p>Nacida en Barcelona (España) el 14 de noviembre de 1950. Licenciado en la Facultad de Medicina de Barcelona (Hospital Clínico) en 1977. Especialista en Ginecología y Obstetricia en 1980. Se Doctoró en 1994 con la tesis "Embarazo múltiple en reproducción asistida: análisis de posibles factores de riesgo” con la calificación de Sobresaliente Cum Laude y Premio extraordinario. Jefe del Área de Endocrinología de la Reproducción del Departamento de Obstetricia, Ginecología y Reproducción del Institut Universitari Dexeus. En la actualidad es vocal de la junta de la Sociedad Española de Fertilidad.</p>
						</div>
					</div>
				</li>
			</ul>
			</div>
    </div>
		
    
    
	</div>
</div>




<div class="slide" id="slide6" data-slide="7" data-stellar-background-ratio="0.5">
	<div class="container clearfix">
    
		<div id="content" class="grid_12">
      <a class="button  up-arrow" title="" data-slide="1"></a>
			<h1 class="undeline">Programa</h1>
		</div>
    <div class="clear"></div>
    
		<div class="grid_12">
			<p>Cada caso clínico tendrá una duración de 1,30 horas<br>5 minutos: Lectura personal del caso. Detección de puntos clave de la historia clínica y situaciones a discutir. Dudas y preguntas. <br>30 minutos: Reunión en grupos reducidos para la resolución de cada caso. El o los profesor/es actuarán de moderadores ordenando ideas, introduciendo conceptos que agilicen la discusión o la promuevan.<br>50 minutos: Sesión general. Exposición del caso por el profesor.<br>5 minutos: Conclusiones
      </p>
		</div>
		<div class="clear"></div>
    
		<div id="content">
			<div class="grid_12">
				<div class="exhib_block">
					<div class="exhib_line_center"></div>

					<div class="exhib_cont fright">
						<div class="exhib_date_left">Miércoles 12-11-2014</div>
						<p>Primer día</p>
						8:30-10:00 - Caso 1. MA Checa. <br>
            10:00-10:30 - Almuerzo <br>
            10:30-12:00 - Caso 2. Rosa Tur. <br>
            12:00-13:30 - Caso 3. Juan José Espinós. <br>
            13:30-15:00 - Comida <br>
            15:00-16:30 - Caso 4. Francesc Fàbregues. <br>
            16:30-18:00 - Caso 5. Susana Peón. 
					</div>
					<div class="clear"></div>
					
					<div class="exhib_cont fleft">
						<div class="exhib_date_right">Jueves 13-11-2014</div>
						<p>Segundo día</p>
						8:30-10:00 - Caso 6. Cristina Salvador. <br>
            10:00-10:30 - Almuerzo <br>
            10:30-12:00 - Caso 7. Julio Herrero. <br>
            12:00-13:30 - Caso 8. Pere Parés. <br>
            13:30-15:00 - Comida <br>
            15:00-16:30 - Caso 9. Anna Polo. <br>
            16:30-17:30 - Conferencia invitada. 
					</div>
					<div class="clear"></div>
					
					<div class="exhib_cont fright">
						<div class="exhib_date_left">Viernes 14-11-2014</div>
						<p>Tercer dia</p>
              8:30-10:00 - Caso 10. Mónica Aura. <br>
              10:00-10:30 - Almuerzo <br>
              10:30-12:00 - Caso 11. Joaquim Calaf. <br>
              12:00-13:30 - Caso 12. Antonio Requena. <br>
              13:30-14:30 - Cuestionario 
					</div>
					<div class="clear"></div>

				</div>
			</div>

		</div>	
  </div>
		
</div>






<div class="slide" id="slide10" data-slide="8" data-stellar-background-ratio="0.5">
	<div class="container clearfix">
		
		<div id="content" class="grid_12">
      <a class="button  up-arrow" title="" data-slide="1"></a>
			<h1>Contact</h1>
			<div class="h1_viva">Vivamus iaculis ultricies mauris id posuere. Praesent mollis tincidunt diam, in sagittis odio</div>
		</div>
		<div class="clear"></div>
		
		<div class="grid_12">
			<p>Nullam aliquam, mauris sit amet convallis condimentum, massa tortor pretium magna, vitae rutrum libero nibh vitae nisl. Sed imperdiet dictum sapien. Mauris tortor massa, euismod eu rhoncus dignissim, ultrices at leo. Donec gravida, lorem ac sollicitudin venenatis, ante risus convallis massa, non porta eros diam sit amet elit. Ut blandit ornare ante hendrerit malesuada. Duis eget odio at erat condimentum tempus. Duis fermentum odio nec arcu elementum sit amet</p>
			<div class="contact_form">  
				<div id="note"></div>
				<div id="fields">
					<form id="ajax-contact-form" action="">
						<div class="grid_6">
							<input type="text" name="name" value="" placeholder="Name" />
							<input type="text" name="subject" value="" placeholder="Phone" />
							<input type="text" name="email" value="" placeholder="Email" />
						</div>
						<div class="grid_6 omega"><textarea name="message" id="message" placeholder="Message"></textarea></div>
						<div class="clear"></div>
						<input type="reset" class="contact_btn" value="Clear Form" />
						<input type="submit" class="contact_btn send_btn" value="Send" />
						<div class="clear"></div>
					</form>
				</div>
			</div>
		</div>		
		<div class="clear"></div>

	</div>
	
	<div id="map_block" class="grid_6"><iframe width="100%" height="722" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=los+angeles&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=53.080379,114.169922&amp;ie=UTF8&amp;hq=&amp;hnear=Los+Angeles,+California&amp;ll=34.052234,-118.243685&amp;spn=0.003427,0.006968&amp;t=m&amp;z=14&amp;output=embed"></iframe></div>
	<div class="clear"></div>
</div>




<div id="footer">
	<div class="container clearfix">
		<div class="copyright"> | </div>
		<div id="back_top"><a class="button" title="" data-slide="1">top</a></div>
	</div>
</div>